<div class="form-wrapper">
	<form method="post" class="form profile-task-form">
		<div class="form-group">
			<label for="profile-task-title">Bezeichnung</label>
			<input id="profile-task-title" class="field" type="text" name="title" value="{{task/title}}" placeholder="Titel der Aufgabe" />
		</div>
		<div class="form-group">
			<label for="profile-task-body">Aufgabe</label>
			<textarea name="body" class="field" id="profile-task-body" data-module="editor/editor" data-editor="{{editor/name}}" data-editor-type="{{editor/type}}" data-mode="3">{{task/body_raw}}</textarea>
		</div>
		<input name="id" value="{{task/id}}" type="hidden" />
		<input name="tasklist_id" value="{{task/tasklist_id}}" type="hidden" />
		<input name="op" value="savetask" type="hidden" />
	</form>
</div>
