<li class="task" tata-role="task" data-task="{{task/id}}">
	<div class="checkbox v4">
		<input id="task-{{task/id}}" value="{{task/id}}" name="profile-task" type="checkbox">
		<label for="task-{{task/id}}" data-role="task-title">{{task/title}}</label>
	</div>
	<div class="task-meta">
		<div class="task-duedate">
			<i aria-hidden="true" class="acms-icon acms-icon-calendar"></i>
			<span data-date="{{if task/due_date-webdate}}{{task/due_date-webdate}}{{/if}}" data-role="task-pdate">{{if task/due_date}}{{task/due_date}}{{/if}}</span>
		</div>
	</div>
	<div class="task-actions">
		<div class="task-important" aria-label="wichtig" data-role="task-important" data-overlay="window">
			<i class="acms-icon"></i>
		</div>
		<div class="task-edit" aria-label="bearbeiten" data-role="task-edit" data-overlay="window">
			<i class="acms-icon acms-icon-pencil-alt"></i>
		</div>
		<div class="task-delete" aria-label="entfernen" data-role="task-delete">
			<i class="acms-icon acms-icon-times"></i>
		</div>
	</div>
</li>
