<li class="folder" id="folder-list-item-{{folder/id}}" data-original="{{toJson folder}}"
    data-root="{{folder/root}}"
    data-id="{{folder/id}}"
    data-folder="{{folder/id}}"
    data-parent="{{folder/parentid}}"
    data-foldername="{{folder/foldername}}"
    data-title="{{folder/title}}"
    data-idx="{{folder/idx}}"
    data-role="folder">
    
    <input type="checkbox" id="folder-list-{{folder/id}}" value="{{folder/id}}" name="flist" /> 
    <label for="folder-list-{{folder/id}}">
        {{folder/title}}
    </label>
</li>
