<li class="folder" id="folder-tree-item-{{folder/id}}"
    data-root="{{folder/root}}"
    data-id="{{folder/id}}"
    data-parent="{{folder/parentid}}"
    data-foldername="{{folder/foldername}}"
    data-title="{{folder/title}}"
    data-idx="{{folder/idx}}"
    data-role="folder">
    <label for="folder-tree-{{folder/id}}">
        <input type="text" id="folder-tree-{{folder/id}}" value="{{folder/title}}" /> 
    </label>
    
</li>
