<div class="comment" data-role="comment" data-id="{{comment/id}}" itemscope="" itemtype="https://schema.org/Comment">
    <a class="avatar medium" href="{{comment/commentSubmitter/itemUrl}}" title="{{comment/commentSubmitter/visitProfile}}">
        <img src="{{comment/commentSubmitter/avatar}}" alt="" title="{{comment/commentSubmitter/username}}" />
    </a>
    <div class="content">
        <a href="{{comment/commentSubmitter/itemUrl}}" title="{{comment/commentSubmitter/visitProfile}}" class="author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
            <span itemprop="name">{{comment/commentSubmitter/username}}</span>
        </a>
        <div class="info">
            <time class="date" itemprop="dateCreated" datetime="{{comment/pdate-webdate}}">{{comment/pdate-relative}}</time>
        </div>
        <div class="text" itemprop="text">
            {{comment/comment}}
        </div>
        <div class="actions">
            <span class="cursor-pointer{{#aif comment/uservote '!=' 'false'}} voted {{comment/uservote}} {{/aif}}" data-trigger="upvote" data-role="comment-vote" data-id="{{comment/id}}">
                <i class="acms-icon acms-icon-heart"></i>
                <span class="text-muted" data-role="vote-counter" itemprop="upvoteCount">
                    {{comment/votes/total}}
                </span>
            </span>
        </div>
    </div>
</div>
