//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
// 
// @author qm-b <qm-b@amaryllis-websolutions.de>
// @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
// 
// Copyright 2017 Amaryllis Systems GmbH
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.contact-module-form {
    > form {
        > fieldset {
            @include flexbox;
            @include flexbox-row;
            @include flexbox-wrap;

            > .form-group {
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                padding-left: 0.5em;
                padding-right: 0.5em;
                width: 100%;

                .gender-text {
                    display: none;
                }
                textarea {
                    height: rem(200);
                    color: $darker;
                }

                &.form-group.gender {
                    width: 40%;

                    + .form-group {
                        width: 60%;
                    }
                }
                &.form-group.email {
                    width: 50%;

                    + .form-group {
                        width: 50%;
                    }
                }
            }
        }
    }
}
