//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
// 
// @author qm-b <qm-b@amaryllis-websolutions.de>
// @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
// 
// Copyright 2017 Amaryllis Systems GmbH
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.contact-opening-spec {
    display: flex;
    flex-flow: column nowrap;
    
    @media all and (min-width: $break-medium) {
        flex-flow: row nowrap;
    }

    > .opening-spec {
        max-width: rem(500);
        @media all and (min-width: $break-medium) {
            flex-basis: 50%;
        }

        > .opening-day {
            display: flex;
            flex-flow: row nowrap;
            padding: 1rem 0;

            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
            }

            > .day {
                flex-basis: 40%;

                > h3 {
                    @include reset-padmar;
                    font-size: 1.1rem;
                    line-height: 1;
                    color: $primary;
                    font-weight: normal;
                }
            }
            > .specs {
                margin-left: auto;
                flex-basis: 60%;

                > .spec {
                    font-size: 1.1rem;
                    line-height: 1;
                    margin-bottom: 1rem;

                    &.spec-form {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;

                        > .form-group {
                            flex-basis: 6rem;

                            > .field {
                                max-width: 3rem;
                            }
                        }
                        > .button-wrapper {
                            flex-basis: 10%;

                            > .button.tiny {
                                padding: 0.375em 0.475em;
                                font-size: 1.375em;
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }

            &.open {
                color: $success;
                > .day {
                    > h3 {
                        color: $success;
                    }
                }
                > .specs {
                    > .spec {
                        color: $success;
                    }
                }
            }
            &.closed {
                color: $danger;
                > .day {
                    > h3 {
                        color: $danger;
                    }
                }
                > .specs {
                    > .spec {
                        color: $danger;
                    }
                }
            }
        }
    }
}