<fieldset>
    <legend class="src-only">
        Adapter-Optionen 
    </legend>
    <div class="form-group wide wide-10 icon left-icon">
        <label for="fs-host" class="field-label">{{hostLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-globe"></i>
        <input type="text" name="host" class="field" id="fs-host" />
    </div>
    <div class="form-group wide wide-6 icon left-icon">
        <label for="fs-port" class="field-label">{{portLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-door-closed"></i>
        <input type="text" name="port" class="field" id="fs-port" placeholder="22" />
    </div>
    <div class="form-group wide wide-8 icon left-icon">
        <label for="fs-username" class="field-label">{{usernameLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-user"></i>
        <input type="text" name="username" class="field" id="fs-username" />
    </div>
    <div class="form-group wide wide-8 icon left-icon">
        <label for="fs-password" class="field-label">{{passwordLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-user-secret"></i>
        <input type="password" name="password" class="field" id="fs-password" />
    </div>
    <div class="form-group wide wide-16 icon left-icon">
        <label for="fs-publickey" class="field-label">{{publickeyLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-key"></i>
        <input type="text" name="publickey" class="field" id="fs-publickey" />
    </div>
    <div class="form-group wide wide-16 icon left-icon">
        <label for="fs-privatekey" class="field-label">{{privatekeyLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-lock"></i>
        <input type="text" name="privatekey" class="field" id="fs-privatekey" />
    </div>
    <div class="form-group wide wide-16 icon left-icon">
        <label for="fs-fingerprint" class="field-label">{{fingerprintLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-fingerprint"></i>
        <input type="text" name="fingerprint" class="field" id="fs-fingerprint" />
    </div>
    <div class="form-group wide wide-16 icon">
        <label for="fs-auth" class="field-label">{{authLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-caret-down"></i>
        <select name="auth" class="field" id="fs-auth">
            <option value="pubkey">Public Key</option>
            <option value="host">Host</option>
            <option value="agent">Agent</option>
            <option value="none">None</option>
            <option value="password">Password</option>
        </select>

    </div>
</fieldset>