<fieldset>
    <legend class="src-only">
        Adapter-Optionen 
    </legend>
    <div class="form-group wide wide-10 icon">
        <label for="fs-host" class="field-label">{{hostLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-globe"></i>
        <input type="text" name="host" class="field" id="fs-host" />
    </div>
    <div class="form-group wide wide-6">
        <label for="fs-port" class="field-label">{{portLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-door-closed"></i>
        <input type="text" name="port" class="field" id="fs-port" placeholder="22" />
    </div>
    <div class="form-group wide wide-8 icon">
        <label for="fs-username" class="field-label">{{usernameLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-user"></i>
        <input type="text" name="username" class="field" id="fs-username" />
    </div>
    <div class="form-group wide wide-8 icon">
        <label for="fs-password" class="field-label">{{passwordLabel}}</label>
        <i aria-hidden="true" class="acms-icon acms-icon-key"></i>
        <input type="password" name="password" class="field" id="fs-password" />
    </div>
    
</fieldset>