<div class="has-image collection v1 private-message-list">
    {{#each pms as pm}}
        <div class="collection-item private-message" data-id="{{pm/id}}">
            <div class="avatar">
                <img src="{{pm/from/avatar}}" alt="avatar" title="{{pm/from/username}}" />
            </div>
            <div class="title">
                {{pm/subject}}
                <span class="from-name display-inline-block">
                    <a href="{{pm/from/itemUrl}}"
                       class="pm-link text-default"
                       title="Profil aufrufen">
                        {{pm/from/username}}
                    </a>
                </span>
                <a class="private-message-link private-message-subject {{xif pm/read != 1}} unread{{/xif}}" href="{{pm/itemUrl}}" title="Betreff">
                    <span class="pm-subject">{{pm/subject}}</span>
                </a>
            </div>
            <p class="clearfix">
                {{#aif pm/type == 1 && pm/status == 1}}
                    <span class="warning label v1">ungelesen</span>
                {{/aif}}
                <span class="right floated dark badge v1">{{pm/pdate-fix}}</span>
            </p>
            <div class="secondary-content">
                {{aif pm/type == 1 && ../subview == 'inbox-inbox'}}
                    <span data-trigger="starring" 
                        class="action-trigger star-trigger {{if pm/starred}}starred{{/if}}"
                        aria-label="{{t "markiere als wichtig" "Core"}}">
                        <i class="pm-favorite acms-icon acms-icon-star {{xif pm/starred != 1}} regular{{else}} purple-text{{/if}}"></i>
                    </span>
                {{/aif}}
                <span data-trigger="delete" class="action-trigger delete-trigger" aria-label="Löschen">
                    <i class="pm-delete acms-icon acms-icon-trash text-danger"></i>
                </span>
            </div>
        </div>
    {{/each}}
</div>
