<div class="comment" data-role="reply" data-id="{{reply/idx}}">
    <a class="medium avatar" href="{{reply/from/itemUrl}}" title="{{reply/from/username}}">
        <img class="" src="{{reply/from/avatar}}" title="{{reply/from/username}}" alt="{{reply/from/username}}" />
    </a>
    <div class="content">
        <a href="{{reply/from/itemUrl}}" title="{{reply/from/username}}" class="author">{{reply/from/username}}</a>
        <div class="info">
            <time class="date" datetime="{{reply/pdate-webdate}}"><i aria-hidden="true" class="acms-icon acms-icon-clock regular"></i> {{reply/pdate-relative}}</time>
            {{#if reply/from/isOnline}}
                <span class="text-success" aria-label="online" data-uid="{{reply/from_user}}">
                    <i aria-hidden="true" class="acms-icon acms-icon-circle"></i>
                </span>
            {{else}}
                <span class="text-danger" aria-label="offline" data-uid="{{reply/from_user}}">
                    <i aria-hidden="true" class="acms-icon acms-icon-circle"></i>
                </span>
            {{/if}}
        </div>
        <div class="text">
            {{reply/body}}
        </div>
        <div class="actions"></div>
    </div>
</div>
