<div class="modal large" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="content">
            <form id="new-pm" 
                  role="form" 
                  method="POST" 
                  data-module="view/profile/inbox/pm-sender"
                  action="#">
                <div class="header text-center">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="src-only"><{translate id="Schließen" textdomain="Core"}></span></button>
                    <h4 class="title" id="{{id}}-title">{{t "Neue Nachricht"}}</h4>
                </div>
                <div class="main text-left">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <label class="field-label" for="subject">
                                {{t "Betreff" "Core"}}
                            </label>
                            <input type="text" id="subject" name="subject" class="field" value="" />
                        </div>
                        {{#xif toUser != 0}}
                            <input type="hidden" name="to" value="{{toUser/id}}" />
                        {{else}}
                            <div class="form-group">
                                <label class="field-label" for="to"><{translate id="Sende an"}></label>
                                <input {{!-- data-remoteurl="" <-- needs to be passed on creating the modal! --}}
                                    data-minlength="2" 
                                    data-maxitems="1" 
                                    placeholder="{{t 'Geben Sie den Benutzernamen ein' 'Core'}}"
                                    type="text" 
                                    id="to" 
                                    required="required" 
                                    data-module="ui/components/inputsearch" 
                                    name="to" 
                                    class="field"
                                    value="" />
                            </div>
                        {{/if}}
                        <div class="form-group">
                            <label class="field-label" for="message">
                                {{t "Nachricht" "Core"}}
                            </label>
                            <textarea rows="15" id="message" name="message" required="required" class="field"></textarea>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="button-toolbar compact">
                        <button type="button" class="small primary right floated button" data-trigger="send-pm" data-dismiss="modal">
                            <i aria-hidden="true" class="acms-icon acms-icon-paper-plane regular"></i>
                            <span>{{t "Senden" "Core"}}</span>
                        </button>
                        <button type="reset" class="small default danger-hover left floated button" data-trigger="abort-pm" data-dismiss="modal">
                            <i aria-hidden="true" class="acms-icon acms-icon-trash-alt regular"></i>
                            <span>{{t "Abbrechen" "Core"}}</span>
                        </button>
                        <button type="button" class="small secondary left floated button" data-trigger="save-draft" data-dismiss="modal">
                            <i aria-hidden="true" class="acms-icon acms-icon-save regular"></i>
                            <span>{{t "Abbrechen" "Entwurf speichern"}}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
