{{#*inline "navItem"}}

	<li class="folder" data-folder="{{folder/id}}" data-title="{{folder/title}}" data-name="{{folder/foldername}}" data-parent="{{folder/parentid}}" data-root="{{folder/root}}" data-role="folder">
		<input type="checkbox" name="folder[]" id="filetree-folder-{{folder/id}}" data-role="folder" data-id="{{folder/id}}"  value="{{folder/id}}" />
		<label for="filetree-folder-{{folder/id}}">{{folder/title}}</label>
		{{#if folder/subs}}
			<ul>
				{{#each folder/subs as |fold k|}}
					{{> navItem folder=fold}}
				{{/each}}
			</ul>
		{{/if}}
	</li>
{{/inline}}

{{> navItem}}
