<div class="popover v1{{#if customClass}} {{customClass}}{{/if}}" 
     id="{{id}}" 
     role="tooltip" 
     aria-describedby="{{id}}-title">
    <div class="arrow"></div>
    <h3 id="{{id}}-title" class="popover-title">
        {{title}}
        {{#if dismiss}}
            <button type="button" class="close" data-dismiss="popover" aria-label="{{closeText}}">
                <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
            </button>
        {{/if}}
    </h3>
    <div class="popover-content">
        {{{content}}}
		<div class="form-group">
			<label class="src-only">Nachricht für den Autor</label>
			<textarea class="field" name="message" placeholder="Nachricht für den Autor"></textarea>
		</div>
		<div class="two buttons">
			<button type="button" class="small danger button" aria-label="{{t 'Absenden' 'Core'}}" data-trigger="decline">
				<span>{{t "Absenden" "Core"}}</span>
			</button>
			<button type="button" class="small default button" aria-label="{{closeText}}" data-dismiss="popover">
				<span>{{closeText}}</span>
			</button>
		</div>
    </div>
</div>
