<div class="form-wrapper">
	<form role="form" method="POST" action="#" class="pull-updown-35">
		<div class="center aligned icon page-title v7">
			<i aria-hidden="true" class="acms-icon acms-icon-exclamation-circle text-danger"></i>
			<div class="content">
				<h3 class="title" id="tasklist-delete-modal-title">{{t "Taskliste entfernen" "Core"}}</h3>
				<div class="sub-title">Löschung des Taskliste bestätigen</div>
			</div>
		</div>
		<div class="form-group push-updown-35">
			<div class="" data-role="message">
				Soll die Taskliste <code class="inline code">{{tasklist/title}}</code> endgültig und mit allen Aufgaben entfernt werden?
			</div>
			<input type="hidden" name="{{form/field}}" value="{{form/op}}" />
			<input type="hidden" name="tasklist_id" value="{{tasklist/id}}" />
		</div>
		<div class="two buttons push-updown-35">
			<button class="default button" data-trigger="abort" data-dismiss="window-overlay" type="reset">
				<span>{{t "Abbrechen" "Core"}}</span>
			</button>
			<button data-trigger="save-close" class="danger button" type="submit">
				<span>{{t "Notetlist entfernen" "Core"}}</span>
			</button>
		</div>
	</form>
</div>
