<li class="tasklist-item{{#if active}} active{{/if}}" 
	data-tlist-id="{{tlist/id}}" 
	data-tlist-pdate="{{tlist/pdate-webdate}}" 
	data-tlist-udate="{{tlist/udate-webdate}}" 
	data-tlist-title="{{tlist/title}}">
	<a href="#" onclick="return false;" class="title{{#if active}} active{{/if}}">
		{{tlist/title}}
	</a>
</li>
