/*!
 * Copyright 2018 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "_settings";
@import "_partials/glossar";

.glossary-container {
    margin: 1rem 0;
}
.glossary-footer {
    margin: 2em 0;
}

.glossary-link {
    cursor: $glossary-link-cursor;

    &, &:hover, &:focus, &:active {
        //text-decoration: $glossary-link-text-decoration;
        border-bottom: 3.5px;
        border-bottom-style: dotted;
        border-bottom-color: $info;
        padding-left: 0.25em;
        padding-right: 0.25em;
    }
}
