/*!
 * Copyright 2018 qm-b <https://bitbucket.org/qm-b/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "_settings";
header.glossary-header,
footer.glossary-footer {
	display: block;
	margin: 0;
	> div {
		width: 33%;
		text-align: center;
		color: $muted;
		margin: 0 1em;
		padding: 0;
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	}
}

.glossary {
	> .entries {
		> .glossary-entry {
			page-break-inside: avoid;
			border-bottom: 1px solid rgba($black, .5);

			> .title {
				font-weight: bold;
				color: $black;
			}
			> .altterms {
				font-size: small;
				font-style: italic;
				color: rgba($black, .8);
			}
			> .definition {
				color: rgba($black, .9);
			}
		}
	}
}
