//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
// 
// @author qm-b <qm-b@amaryllis-websolutions.de>
// @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
// 
// Copyright 2017 Amaryllis Systems GmbH
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@import "../../../sass/assets/framework";
@import "../../../sass/assets/settings";

/// Logo Icon Farbe des Blog
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {blog-module}
$module-blog-logo-color: #FF9E10;

/// Blog Panel Hintergrund
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {blog-module}
$module-blog-panel-background-color: $grey-ultra-light !default;

/// Blog Panel border-color
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {blog-module}
$module-blog-panel-border-color: $darker !default;

/// Blog Panel padding
///
/// @type {Number|List}   -   padding-Angabe
///
/// @group {blog-module}
$module-blog-panel-padding: em(10) !default;


/// Blog Panel Heading font-size
///
/// Schrift-Größe der Block-Panel Überschriften. Unterstützt sind h2 und 
/// h3-Überschriften
///
/// @type {Number}   -   font-size-Angabe
///
/// @group {blog-module}
$module-blog-panel-heading-font-size: 1em !default;

/// Blog Panel Heading Anchor Farbe
///
/// Die Farbe des Anchor Tags im Blog Post Panel Heading
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {blog-module}
$module-blog-panel-heading-anchor-color: $primary !default;

/// Blog Panel Heading Anchor Hover Farbe
///
/// Die Farbe des Anchor Tags im Blog Post Panel Heading bei hover
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {blog-module}
$module-blog-panel-heading-anchor-color: $primary !default;

