@charset "UTF-8";
@import "_settings.scss";
/*!
 * Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
 *
 * @author qm-b <qm-b@amaryllis-websolutions.de>
 * @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
 * @copyright Amaryllis Systems http://www.amaryllis-systems.de/
 * 
 *
 * Copyright 2017 Amaryllis Systems GmbH <https://www.amaryllis-systems.de/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Framework-Version: #{$sass-framework-version}
 * Framework-Build: #{$sass-framework-build-version}
 */

.module-logo.blog {
    background-color: $module-blog-logo-color;
}

#blogPanel {
    position: relative;
    max-width: 100%;
    width: 100%;

    .blog-panel {
        position: absolute;
        background: $module-blog-panel-background-color;
        box-shadow: 0 rem(1) rem(2) rgba(0, 0, 0, 0.3);
        padding: $module-blog-panel-padding;
        border: rem(1) solid $module-blog-panel-border-color;

        h2,
        .h2,
        h3,
        .h3 {
            font-size: 1rem;

            >a {
                color: $module-blog-panel-heading-anchor-color;
                display: block;
            }
        }

        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }

        &:hover {
            box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.5);
            margin-top: rem(-5);
            @include transition(all, 0.3s, ease-in-out);
        }
    }
}

[data-view="blog"] {
    aside {
        background-color: $grey-ultra-light;
        padding: em(10) 0;
        height: 100%;
    }
}

#blog-authors .blog-author.card>.card-content>.card-title {
    margin-bottom: 1.125rem;

    >a>.badge {
        float: right;
        margin-top: 1rem;
    }
}
