<div class="message {{message/type}}">
	{{#xif message/type '==' 'empty'}}
		<div class="header">
			{{t "Keine Ergebnisse" "Core"}}
		</div>
	{{/if}}
	<div class="description">
		{{message/content}}
	</div>
</div>
