//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
// 
// @author qm-b <qm-b@outlook.de>
// @copyright 2011 - 2016 QM-B <qm-b@outlook.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
// 
// Copyright 2018 Amaryllis Systems GmbH <https://www.amaryllis-systems.de/>
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

.glossary {
	font-size: 1em;

	.glossary-nav {
		> .glossary-letters {
			text-align: center;

			> .list-letter {
			}
		}
		> .form-group {
			margin: rem(25) auto;
			@media (min-width: $break-1024) {
				max-width: 75%;
			}
		}
	}

	.entries {
		.letter {
			
			> .glossary-header {
				margin-bottom: em(15);
				position: relative;
				padding-top: em(20);
				padding-bottom: em(10);
				font-size: 1.2em;

				&::after {
					content: "";
					background: $primary;
					width: em(60);
					height: em(3);
					position: absolute;
					left: 0;
					bottom: 0;
					border-radius: em(30);
				}
			}

			opacity: 0;
			height: 0;
			margin: 0;
			padding: 0;
			width: 100%;
			overflow: hidden;
			transition: all 0.4s ease-in-out;

			&.active {
				opacity: 1;
				height: auto;
				padding: 1em;
				margin: 1rem 0;
			}
		}
	}
}
