<div class="info-box v1{{#if infobox/type}} {{infobox/type}}{{/if}}{{#if infobox/size}} {{infobox/size}}{{/if}}">
    <div class="closer" data-role="dismiss">
        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
    </div>
    <div class="box-content" data-role="content">
        {{{infobox/content}}}
    </div>
</div>
