<div id="{{id}}" class="large modal v1" role="dialog" aria-hidden="true" tabindex="-1" aria-labeledby="{{id}}-title">
    <div class="modal-dialog">
        <div class="content">
            <form method="POST" action="#">
                <div class="header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                        <span class="src-only">{{t "Schließen" "Core"}}</span>
                    </button>
                    <h4 class="title" id="{{id}}-title">{{t "Emoji"}}</h4>
                </div>
                <div class="main text-left">
                    <div class="two fields">
                        <div class="form-group">
                            <label>{{t "Code" "Core"}}</label>
                            <input type="text" name="code" class="field" placeholder=":codeA:" />
                        </div>
                        <div class="form-group">
                            <label>{{t "Alternativ-Codes" "Core"}}</label>
                            <input type="text" name="alt" class="field" placeholder=":codeB: :codeC:" value="{{emoji/alt}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{t "Gruppe" "Core"}}</label>
                        <select name="group_id" class="field" value="{{emoji/group_id}}">
                            {{#each categories as |category name|}}
                                <option value="{{category/name}}">{{category/label}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{{t "Keywords" "Core"}}</label>
                        <input type="text" name="keywords" class="field" placeholder="Keyword 1, Keyword 2" value="{{emoji/alt}}" />
                    </div>
                    <div class="two fields">
                        <div class="form-group">
                            <label>{{t "CSS-Klasse" "Core"}}</label>
                            <input type="text" name="class" class="field" placeholder="codeA" value="{{emoji/class}}" />
                        </div>
                        <div class="form-group">
                            <label>{{t "Unicode" "Core"}}</label>
                            <input type="text" name="unicode" class="field" placeholder="" value="{{emoji/alt}}" />
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{emoji/id}}" />
                    <input type="hidden" name="token" value="{{token}}" />
                    <input type="hidden" name="op" value="{{#xif emoji/id '>' 0}}update{{else}}create{{/xif}}" />
                </div>
                <div class="footer">
                    <button type="button" class="small primary left labeled icon button" data-trigger="save">
                        <i aria-hidden="true" class="acms-icon acms-icon-save"></i>
                        <span class="content">{{t "Speichern" "Core"}}</span>
                    </button>
                    <button type="button" class="small default left labeled icon button" data-dismiss="modal">
                        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                        <span class="content">{{t "Schließen" "Core"}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
