<tr data-code="{{emoji/code}}" 
    data-id="{{emoji/id}}" 
    data-category="{{emoji/group_id}}"
    data-keywords="{{emoji/keywords}}"
    data-alt="{{emoji/alt}}"
    data-class="{{emoji/class}}"
    data-unicode="{{emoji/unicode}}">

    <td data-th="Emoji-Gruppe" data-col="category">
        {{emoji/category}}
    </td>
    <td data-th="Code" data-col="code">
        {{emoji/code}}
    </td>
    <td data-th="Alternativ-Codes" data-col="alt">
        {{emoji/alt}}
    </td>
    <td data-th="Keywords" data-col="keywords">
        {{emoji/keywords}}
    </td>
    <td data-th="CSS-Klasse" data-col="class">
        {{emoji/class}}
    </td>
    <td data-th="Aktionen">
        <div class="button-toolbar compact">
            <button type="button" data-trigger="edit" class="primary icon button" aria-label="Bearbeiten">
                <i aria-hidden="true" class="acms-icon acms-icon-pencil-alt"></i>
            </button>
            <button type="button" data-trigger="remove" class="danger icon button" aria-label="Entfernen">
                <i aria-hidden="true" class="acms-icon acms-icon-trash"></i>
            </button>
        </div>
    </td>
</tr>
