<div class="window v1 window-notes size-500"
     id="profile-notes"
     data-owner="{{Acms/User/id}}"
     data-maximizable=true
     data-resizable=false
     data-dragable=false
     data-top="3.125rem">
    <div class="title-bar">
        <div class="window-controls controls-left">
            <a href="#" class="window-icon">
                <i aria-hidden="true" class="acms-icon acms-icon-sticky-note"></i>
            </a>
            <a href="#" class="window-menutoggle">
                <i aria-hidden="true" class="acms-icon acms-icon-bars"></i>
            </a>
        </div>
        <span class="window-title">Notizen</span>
        <div class="window-controls controls-right">
            <a class="window-maximize" href="#" onclick="return false;">
                <i class="acms-icon acms-icon-window-maximize"></i>
            </a>
            <a class="window-fullsize" href="#" onclick="return false;" data-target="#profile-notes">
                <i class="acms-icon acms-icon-expand"></i>
            </a>
        </div>
    </div>
    <ul class="window-menu" aria-hidden="true">
        <li>
            <a href="#" onclick="return false;" class="disabled" disabled="disabled" data-action="notebook-edit" data-role="notebook-action">
                <i class="acms-icon acms-icon-pencil-alt menu-icon"></i> 
                <span>Notizbuch bearbeiten</span>
            </a>
        </li>
        <li>
            <a href="#" onclick="return false;" class="disabled" disabled="disabled" data-role="notebook-action">
                <i class="acms-icon acms-icon-share-alt menu-icon"></i> 
                <span>Notizbuch freigeben</span>
            </a>
        </li>
        <li>
            <a href="#"
               data-role="add-notebook"
               >
                <i class="acms-icon acms-icon-plus-circle menu-icon"></i> 
                <span>Notizbuch zufügen</span>
            </a>

        </li>
        <li>
            <a href="#" onclick="return false;" class="disabled" disabled="disabled" data-role="notebook-action">
                <i class="acms-icon acms-icon-trash menu-icon"></i> 
                <span>Notizbuch löschen</span>
            </a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="#" onclick="return false;" class="disabled" disabled="disabled">
                <i class="acms-icon acms-icon-cogs menu-icon"></i> 
                <span>Einstellungen</span>
            </a>
        </li>
    </ul>
    <div class="window-actions">
        <a class="window-back" href="#" onclick="return false;">
            <i aria-hidden="true" class="acms-icon acms-icon-chevron-left"></i>
        </a>
        <a class="window-forward disabled" href="#" onclick="return false;">
            <i aria-hidden="true" class="acms-icon acms-icon-chevron-right"></i>
        </a>
        <a class="window-action" 
           href="#" 
           onclick="return false;" 
           title="Neue Notiz"
           data-role="note-add" data-overlay="window">
            <i aria-hidden="true" class="acms-icon acms-icon-plus-circle"></i>
            <span class="src-only">Neue Notiz</span>
        </a>
        <div class="window-path">
            <a href="" data-role="breadcrumb" data-index="0">
                Notiz-Bücher
            </a>
        </div>
        <div class="dropdown" data-module="ui/navs/dropdown">
            <a class="dropdown-toggle">
                <i aria-hidden="true" class="acms-icon acms-icon-ellipsis-v"></i> 
                <span class="src-only">Optionen</span>
            </a>
            <div class="dropdown-content window-sort">
                <ul class="dropdown-menu window-sort-menu">

                    <li>
                        <input type="radio" value="title-asc" name="profile-notes-sorter" checked="checked" id="profile-notes-sorter-title-asc">
                        <label data-order="title-asc" for="profile-notes-sorter-title-asc">
                            <i class="acms-icon acms-icon-sort-alpha-up"></i>
                            <span>Sortiere nach Name aufsteigend</span>
                        </label>
                    </li>
                    <li>
                        <input type="radio" value="title-desc" name="profile-notes-sorter" id="profile-notes-sorter-title-desc">
                        <label data-order="title-desc" for="profile-notes-sorter-title-desc">
                            <i class="acms-icon acms-icon-sort-alpha-down"></i>
                            <span>Sortiere nach Name absteigend</span>
                        </label>
                    </li>
                    <li>
                        <input type="radio" value="pdate-asc" name="profile-notes-sorter" id="profile-notes-sorter-pdate-asc">
                        <label data-order="pdate-asc" for="profile-notes-sorter-pdate-asc">
                            <i class="acms-icon acms-icon-sort-asc"></i>
                            <span>Sortiere nach Datum aufsteigend</span>
                        </label>
                    </li>
                    <li>
                        <input type="radio" value="pdate-desc" name="profile-notes-sorter" id="profile-notes-sorter-pdate-desc">
                        <label data-order="pdate-desc" for="profile-notes-sorter-pdate-desc">
                            <i class="acms-icon acms-icon-sort-desc"></i>
                            <span>Sortiere nach Datum absteigend</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <form class="search">
            <input type="search" class="search-input" placeholder="In den Notizen suchen...">
            <button class="search-button">
                <i class="acms-icon acms-icon-search"></i>
            </button>
        </form>

    </div>
    <div class="window-body">
        <div class="window-side">
            <ul class="side-list">
                <li class="profile-notebooks open">
                    <a data-role="sidemenu-toggle">
                        <i class="list-toggle"></i>
                        Notizbücher <span class="badge primary" data-role="notebook-counter">0</span>
                    </a>
                    <ul class="my-notebooks">
                    </ul>
                </li>
                <li class="profile-shared-notebooks">
                    <a data-role="sidemenu-toggle">
                        <i class="list-toggle"></i>
                        Für mich freigegeben
                    </a>
                    <ul class="shared-notebooks">
                    </ul>
                </li>
            </ul>
        </div>
        <div class="window-main">
            <div class="inner">
                <div class="button-toolbar compact clearfix">
                    <button class="button small primary" data-role="note-add" data-overlay="window">
                        <i class="acms-icon acms-icon-plus-circle"></i> <span>Neue Notiz</span>
                    </button>
                </div>

                <ul id="notes-open-notebook" class="notebook open-notes notes-list">
                </ul>
                <ul id="notes-completed-notebook" class="notebook completed-notes">
                </ul>
            </div>
            
            <div class="window-overlay">
                <div class="overlay-inner">
                    <button class="close" data-dismiss="window-overlay">
                        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                    </button>
                    <div class="overlay-content">
                    </div>
                    <div class="overlay-footer">
                        <button class="button small primary" data-dismiss="window-overlay">
                            <span>Schließen</span>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
