//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
// 
// @author qm-b <qm-b@amaryllis-websolutions.de>
// @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
// 
// Copyright 2017 Amaryllis Systems GmbH
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

.forum-groups {
    @include flexbox;
    @include flexbox-column;
    @include flexbox-nowrap;
    
    > .forum-group {
        margin: 2rem 0;
        
        
        > .inner {
            > .heading {
                background-color: $primary;
                color: $primary-inverse;
                position: relative;
                border-collapse: collapse;
                > .inner {
                    position: relative;
                    padding: 1rem 0 1rem .75rem;
                    
                    > h3, .h3, h2, .h2 {
                        @include reset-padmar;
                        color: inherit;
                        font-size: 1.3rem;
                        line-height: 1;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    
                    > .icon {
                        position: absolute;
                        top: 50%;
                        margin-top: -50%;
                        right: 1rem;
                    }
                }
            }
            
            > .group-body {
                > .inner {
                    > .forum-list {
                        > .forum {
                            @include flexbox;
                            @include flexbox-row;
                            @include flexbox-nowrap;
                            border-bottom: $standard-border-width solid $standard-border-color;
                            border-left: $standard-border-width solid $standard-border-color;
                            border-right: $standard-border-width solid $standard-border-color;
                            
                            > .forum-icon {
                                padding: 1rem .750rem 1rem .750rem;
                                font-size: 2rem;
                                text-align: center;
                                @include flexbox-base(7%);
                            }
                            > .forum-title {
                                @include flexbox-base(63%);
                                border-left: $standard-border-width solid $standard-border-color;
                                border-right: $standard-border-width solid $standard-border-color;
                            
                                > .inner {
                                    padding: 1rem .750rem 1rem .750rem;
                                    > h3, .h3, h4, .h4 {
                                        font-size: 1.1rem;
                                        @include reset-padmar;
                                        > a {
                                            display: block;
                                        }
                                    }
                                }
                            }
                            > .infos {
                                @include flexbox-base(30%);
                                @include flexbox;
                                @include flexbox-nowrap;
                                @include flexbox-row;
                                
                                > .forum-last-actions,
                                > .forum-stats {
                                    padding-left: .750rem;
                                    @include flexbox-base(50%);

                                    > p {
                                        @include reset-padmar;
                                        font-size: .825rem;
                                    }
                                }
                                > .forum-last-actions {

                                    border-left: $standard-border-width solid $standard-border-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 960px) {
    .forum-groups {
        > .forum-group {
            > .inner {
                > .group-body {
                    > .inner {
                        > .forum-list {
                            > .forum {
                                
                                > .forum-icon {
                                    display: none;
                                    visibility: hidden;
                                }
                                
                                > .infos {
                                    @include flexbox-column;
                                    @include flexbox-base(100%);
                                    flex: 1;
                                    
                                    > .forum-stats {
                                        @include flexbox-base(100%);
                                    }
                                    > .forum-last-actions {
                                        border-top: $standard-border-width solid $standard-border-color;
                                        border-left: 0 none transparent;
                                        @include flexbox-base(100%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media all and (max-width: 767px) {
    .forum-groups {
        > .forum-group {
            > .inner {
                > .group-body {
                    > .inner {
                        > .forum-list {
                            > .forum {
                                @include flexbox-column;
                                
                                > .forum-title {
                                    @include flexbox-base(100%);
                                    flex: 1;
                                }
                                > .infos {
                                    > .forum-last-actions {
                                        border-top: 0 none transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}