//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
//
// @author qm-b <qm-b@amaryllis-websolutions.de>
// @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
//
// Copyright 2017 Amaryllis Systems GmbH
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.


.bulletboard-form {

    > .form-group {
        > .field-group {
            @include flexbox-row;
            min-width: 100%;

            > .file-input.v2 {
                flex: 2 1 60%;

                > input[type="file"] {
                    margin: 0;
                    padding: 0;
                    visibility: hidden;
                    height: 0;
                    display: none;
                }

                > label {
                    margin: 1em 0.5em;
                }
            }
        }
    }
}
