//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
// 
// @author qm-b <qm-b@amaryllis-websolutions.de>
// @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
// 
// Copyright 2017 Amaryllis Systems GmbH
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.


.question {
    @include flexbox;
    @include flexbox-column;
    @include flexbox-nowrap;
    align-content: space-around;
    border-bottom: $forum-question-border-width solid $forum-question-border-color;
    position: relative;

    > .forum-stats {
        width: 100%;
        font-size: .750rem;
        background-color: #F2F2F2;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        padding: 0;
        @include flexbox;
        @include flexbox-row;
        flex-basis: 100%;
        max-width: 100%;

        @media all and (min-width: $break-medium) {
            flex-basis: 30%;
            max-width: 30%;
        }
        
        > .stat-item {
            padding: 0;
            @include flexbox-base(33.333%);
            border-right: $standard-border-width solid $standard-border-color;
            align-self: stretch;
            @include flexbox;
            @include flexbox-column;
            @include flexbox-nowrap;
            @include flexbox-justify-content-center;

            &:last-child {
                border-right: 0 none transparent;
            }
            > .item-counter {
                display: block;
                font-size: 1.750rem;
                //margin-top: 50%;
                //padding-top: 50%;
            }
            > .item-label {
                display: block;
            }
            &.post-status {
                &.post-unanswered {
                    color: $danger;
                }
                &.post-answered {
                    color: $success;
                }
                &.post-solved {
                    color: $success-inverse;
                    background-color: $success;
                }
            }
        }
    }
    
    > .post-main {
        flex-basis: 100%;
        max-width: 100%;
        @include flexbox;
        @include flexbox-column;

        > .post-title {
            @include flexbox-base(100%);
            margin: .5rem 0 0 0;
            font-size: 1.2rem;
        }
        > .post-data {
            @include flexbox-base(100%);
            @include flexbox;
            @include flexbox-row;
            font-size: .9rem;

            > .tag-bar {
                @include flexbox-base(60%);
                float: none;
                display: block;

                > .tag {
                    height: 1.5rem;
                    line-height: 1.5rem;
                    font-size: .825rem;
                }
            }
            > .started {
                @include flexbox-base(40%);
                > .user-info {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-end;

                    > .user-action-time {
                        text-align: right;
                    }

                    > .post-profile-box {
                        @include flexbox;
                        @include flexbox-row;
                        @include flexbox-nowrap;
                        align-items: center;
                        flex: 0 0 auto;
                        align-content: flex-end;
                        align-self: flex-end;

                        > .user-avatar {
                            @include equalsize(rem(34));
                            @include rounded-heavy;
                            @include flexbox-base(4rem);
                            margin-left: auto;
                            margin-right: 1rem;

                            img {
                                @include equalsize(rem(34));
                                @include rounded-heavy;
                                border: 2px solid silver;
                                background-color: $muted;
                            }
                        }
                        
                        > .user-details {
                            @include flexbox;
                            @include flexbox-column;
                            flex: 0 0 auto;
                            margin-left: auto;

                            > .user-flair {
                                @include flexbox;
                                @include flexbox-row;
                                align-items: center;
                                align-content: space-around;

                                > .reputation-score {
                                    margin-right: 1rem;
                                }

                                > .online-user {
                                    color: $inverse;
    
                                    &.online {
                                        color: $success;
                                    }
                                    &.offline {
                                        color: $danger;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    &.read {
        &:after {
            content: '\f05d';
            font-family: 'FontAwesome';
            font-size: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            color: #9dc823;
        }
    }
}

.question > .post-main > .post-teaser {
    margin-bottom: 1.125rem;
}

@media all and (min-width:768px) {

    .question > .post-main > .started {
        float: right;
        width: 15rem;
    }

}
@media all and (min-width:1024px) {
    .question {
        @include flexbox-row;
        align-content: space-around;
        border-bottom: 1px solid #CCC;

        &:first-child {
            border-top: 1px solid #CCC;
        }
    }

    .question > .post-main {
        margin-left: 2rem;
    }

}