

.single-topic-view {

    .question-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        h1 {
            margin: 0;
        }
    }
    .single-topic {
        > .bulletboard-content {
            > .topic {
                .question {
                    > .inner {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;

                        > .topic-voting {
                            flex: 0 1 3rem;

                            > .vote {
                                display: flex;
                                flex-flow: column wrap;
                                font-size: 2rem;
                                text-align: center;
                                align-content: center;

                                > .vote-up-off,
                                > .vote-down-off {
                                    font-size: 3rem;
                                    line-height: 3rem;
                                    vertical-align: middle;
                                    cursor: $cursor-pointer;
                                }
                                > .favoritecount {
                                    text-align: center;
                                    line-height: 1;

                                    > b, > i {
                                        color: #6a737c;
                                        font-weight: normal;
                                        font-style: normal;
                                        font-size: .85rem;
                                        line-height: 1rem;
                                    }
                                }
                                > .star {
                                    color: $muted;
                                    font-size: 3rem;
                                    line-height: 3rem;

                                    &.star-on,
                                    &:hover {
                                        color: $primary;
                                        cursor: $cursor-pointer;
                                    }
                                }

                                &.voted {
                                    > .vote-up-off,
                                    > .vote-down-off {
                                        cursor: $cursor-disabled;
                                    }
                                }
                            }

                        }
                        > .topic-post {
                            flex: 0 1 calc(100% - 4rem);

                            > .inner {
                                margin: 1rem .75rem;
                                display: flex;
                                flex: 0 0 100%;
                                flex-direction: column;
                                justify-content: stretch;
                                align-content: stretch;
                                align-items: inherit;

                                > .post-footer {
                                    display: flex;
                                    align-content: right;
                                    justify-content: end;
                                    padding: 0;
                                    margin: 2rem 0 0 0;

                                    > .share-post {
                                        flex-basis: 30%;
                                    }
                                    
                                    > .submitter-bar {
                                        flex: 0 0 70%;
                                        display: flex;
                                        justify-content: flex-end;
                                        align-self: right;
                                        right: 0;
                                        align-content: right;

                                        > .submitter {
                                            figure {
                                                text-align: center;
                                                img {
                                                    max-width: rem(64);
                                                }
                                                figcaption {
                                                    font-size: .825rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }

                    }
                }
            }
        }
        .topic {

        }
        > .bulletboard-sidebar {
            > aside {
                > .post-duplicates,
                > .post-linked,
                > .post-tags,
                > .post-meta {
                    margin: 1rem 0;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                > .post-tags {
                    > .content {
                        > .tag-bar {
                            margin: 1rem .5rem;
                        }
                    }
                }
            }
        }
    }
}