//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
// 
// @author qm-b <qm-b@amaryllis-websolutions.de>
// @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
// 
// Copyright 2017 Amaryllis Systems GmbH
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

@import "../../../../sass/amaryllis/_partials/media/image/slider/v1";

.blog-spotlight-slider {
    > .slides {
        > .slider {
            .spotlight-section {
                > .content-txt {
                    position: relative;
                    padding-bottom: rem(50);
                    overflow-y: auto;
                    height: 100%;

                    > .slide-action {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }

                    h2, h3 {
                        color: $primary;
                    }
                }
            }
        }
    }
}
