<div id="{{id}}" class="modal v1 fade{{#if size}} {{size}}{{/if}}" role="dialog" aria-hidden="true" tabindex="-1" aria-labeledby="{{id}}-title">
    <div class="modal-dialog">
        <div class="content">
            <div class="header">
                <button type="button" class="close" data-dismiss="modal">
                    <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                    <span class="src-only">{{closeText}}</span>
                </button>
                <h4 class="title" id="{{id}}-title">{{title}}</h4>
            </div>
            <div class="main text-left">
                {{#if htmlContent}}
                    {{{htmlContent}}}
                {{else if content}}
                    {{content}}
                {{/if}}
            </div>
            <div class="footer">
                {{#if customButtons}}
                    {{{customButtons}}}
                {{/if}}
                <button type="button" class="button {{#if closeClass}}{{closeClass}}{{else if customButtons}}default{{else}}primary{{/if}}" 
                        data-dismiss="modal">
                    {{closeText}}
                </button>
            </div>
        </div>
    </div>
</div>
