<div id="notification-{{options/id}}" data-id="{{options/id}}" class="notification v1 nofification-{{options/id}} {{options/custom}} animated {{options/animation}}" style="{{options/style}}">
    <div class="dismiss">
        <i aria-hidden="true" class="regular acms-icon acms-icon-times-circle"></i>
    </div>
    <div class="medium round avatar">
        {{#if options/image}}
            <img src="{{options/image}}" alt="" title="" />
        {{else}}
            <i aria-hidden="true" class="{{options/icon}}"></i>
        {{/if}}
    </div>
    <div class="text {{options/type}}">
        {{#if options.title}}
        <div class="title {{options.type}}">
            {{options.title}}
        </div>
        {{/if}}
        {{{options.content}}}
    </div>
</div>
