<div id="{{overlay/id}}" class="overlay {{overlay/version}} fade in">
	<div>
		{{#if overlay/title}}
			<div class="center aligned icon page-title v7">
				<i aria-hidden="true" class="acms-icon acms-icon-info-circle"></i>
				<div class="content">
					<h2>{{overlay/title}}</h2>
					{{#if overlay/subtitle}}
						<p>{{overlay/subtitle}}</p>
					{{/if}}
				</div>
			</div>
		{{/if}}
		{{#if overlay/isLoading}}
			<div class="single-spinner {{options/spinner}}"></div>
		{{/if}}
		{{#if overlay/message}}
			<p>{{overlay/message}}</p>
		{{/if}}
	</div>
</div>
