<div class="popover v1{{#if customClass}} {{customClass}}{{/if}}" 
     id="{{id}}" 
     role="tooltip" 
     aria-describedby="{{id}}-title">
    <div class="arrow"></div>
    <h3 id="{{id}}-title" class="popover-title">
        {{title}}
        {{#if dismiss}}
            <button type="button" class="close" data-dismiss="popover" aria-label="{{closeText}}">
                <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
            </button>
        {{/if}}
    </h3>
    <div class="popover-content">
        {{{content}}}
        {{#if dismiss}}
            <div class="button-toolbar compact text-right">
                <button type="button" class="small default button" aria-label="{{closeText}}" data-dismiss="popover">
                    <span>{{closeText}}</span>
                </button>
            </div>
        {{/if}}
    </div>
</div>
