<div id="{{bar/id}}" class="update-bar v1 {{bar/type}}">
	<div class="split">
		<i aria-hidden="true" class="{{bar/icon}}"></i>
	</div>
	<div class="text">
		{{{bar/message}}}
		{{#unless config/autoRemove}}
			<span data-trigger="remove">
				<i aria-hidden="true" class="acms-icon acms-icon-times"></i>
			</span>
		{{/unless}}
	</div>
</div>
