<div class="icon-only emoji-tabs tabs-v2">
    <div class="tab">
        {{#each categories as |category name|}}
            <input type="radio" name="emoji-categories" id="{{../unique}}-emoji-category-{{category/name}}" {{#xif category/order '==' 1}}checked="checked"{{/xif}} />
            <label for="{{../unique}}-emoji-category-{{category/name}}">
                <i aria-hidden="true" class="acms-icon {{category/icon}}"></i>
                <span>{{category/label}}</span>
            </label>
            <div class="panel" data-panel="{{category/name}}"></div>
        {{/each}}
        <input type="radio" name="emoji-categories" id="{{unique}}-emoji-category-search" />
        <label for="{{unique}}-emoji-category-search">
            <i aria-hidden="true" class="acms-icon acms-icon-search"></i>
            <span>{{t "Suchen" "Core"}}</span>
        </label>
        <div class="panel" data-panel="search">
            <div class="icon form-group">
                <i aria-hidden="true" class="acms-icon acms-icon-search"></i>
                <input type="search" name="emoji-search" class="field" />
            </div>
            <div id="{{unique}}-emoji-search-results" class="results"></div>
        </div>
    </div>
</div>
