<i aria-hidden="true" 
    class="large emoji em-{{emoji/class}}" 
    data-category="{{emoji/category}}" 
    data-alternates="{{#each emoji/alternates as |alternate|}}{{alternate}},{{/each}}" 
    data-keywords="{{#each emoji/keywords as |keyword|}}{{keyword}},{{/each}}" 
    data-code="{{emoji/shortname}}" data-original="{{toJson emoji}}"></i>
