
<div class="amaryllis-editor">
    <div class="heading">
        <div class="action-rows">
            {{#each editor/heading/rows as |row rowId|}}
            <div class="action-toolbar {{rowid}}">
                {{#each row.groups as |group groupId|}}
                <div class="button-group left floated {{groupId}}">
                    {{#each group.actions as |button action|}}
                    <button class="button white left floated icon-button editor-action {{action}}" aria-label="{{button.label}}" data-action="{{button.action}}">
                        <i aria-hidden="true" class="{{button.icon}}"></i>
                    </button>
                    {{/each}}
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
        <div class="controls">
            <button class="button info right floated icon-button control" data-control="help" aria-label="{{helpCaption}}">
                <i aria-hidden="true" class="acms-icon acms-icon-question-circle acms-iconr"></i>
            </button>
            {{#if editor/heading/controls/fullscreen}}
            <button class="button default right floated icon-button control" data-control="fullscreen" aria-label="{{fullscreenCaption}}">
                <i aria-hidden="true" class="acms-icon acms-icon-expand"></i>
            </button>
            {{/if}}
            <button class="button default right floated icon-button control" data-control="maximize" aria-label="{{fullscreenCaption}}">
                <i aria-hidden="true" class="acms-icon acms-icon-window-maximize"></i>
            </button>
        </div>
    </div>
    {{{editor/tarea}}}
    <div class="footer">
        <span class="info-text stat-info text-muted">
            <span class="label-v2 default">
                <span data-role="lines" aria-label="Zeilen insgesamt">0</span> 
                <span class="secondary-content">Zeilen</span>
            </span> | 
            <span class="label-v2 default">
                <span aria-label="aktuelle Zeile" data-role="current-line">0</span>
                <span  aria-label="aktuelle Spalte" class="secondary-content" data-role="current-column">0</span>
            </span> | 
            <span class="label-v2 default">
                <span aria-label="Start-Position aktuelle Auswahl" data-role="selection-start">0</span>
                <span aria-label="End-Position aktuelle Auswahl" class="secondary-content" data-role="selection-end">0</span>
            </span>
        </span>
        {{!-- 
        <div class="controls">
            <button class="small primary left floated control button">
                <i class="acms-icon acms-icon-images acms-iconr"></i>
                <span>Medien Manager</span>
            </button>
        </div>
        --}}
    </div>
</div>
