<div id="{{id}}" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1" aria-labeledby="{{id}}-title">
    <div class="modal-dialog">
        <div class="content">
            <form method="" action="#">
            <div class="header">
                <button type="button" class="close" data-dismiss="modal">
                    <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                    <span class="src-only">{{closeText}}</span>
                </button>
                <h4 class="title" id="{{id}}-title">{{title}}</h4>
            </div>
            <div class="main text-left">
                <fieldset>
                    <div class="form-group has-feedback">
                        <label for="{{id}}-form-del">{{delText}}</label>
                        <input type="text" class="field" name="del" id="{{id}}-form-del" required="required" value="{{#if selectedValue}}{{selectedValue}}{{/if}}" />
                    </div>
                    <div class="form-group has-feedback">
                        <label for="{{id}}-form-ins">{{insText}}</label>
                        <input class="field" name="ins" id="{{id}}-form-ins" type="text" required="required" />
                    </div>
                    <div class="form-group has-feedback">
                        <label for="{{id}}-form-comment">{{commentText}}</label>
                        <input class="field" name="comment" id="{{id}}-form-comment" type="text" required="required" />
                    </div>
                </fieldset>
            </div><!-- /.main -->
            <div class="footer">
                <button type="button" class="small primary button" 
                        data-action="submit">
                    {{submitText}}
                </button>
                <button type="button" class="small default button" 
                        data-dismiss="modal">
                    {{closeText}}
                </button>
            </div><!-- /.footer -->
            </form> <!-- /form -->
        </div> <!-- /.content -->
    </div><!-- /.modal-dialog -->
</div>
