<div id="{{id}}" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1" aria-labeledby="{{id}}-title">
    <div class="modal-dialog">
        <div class="content">
            <form method="" action="#">
            <div class="header">
                <button type="button" class="close" data-dismiss="modal">
                    <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                    <span class="src-only">{{closeText}}</span>
                </button>
                <h4 class="title" id="{{id}}-title">{{title}}</h4>
            </div>
            <div class="main text-left">
                <fieldset>
                    <div class="form-group has-feedback">
                        <label for="{{id}}-form-url">{{urlText}}</label>
                        <input type="url" class="field" name="url" id="{{id}}-form-url" placeholder="https://" required="required" />
                    </div>
                    <div class="fields fields-2">
                        <div class="form-group has-feedback">
                            <label for="{{id}}-form-caption">{{captionText}}</label>
                            <input class="field" name="caption" id="{{id}}-form-caption" type="text" required="required" value="{{#if selectedValue}}{{selectedValue}}{{/if}}" />
                        </div>
                        <div class="form-group has-feedback">
                            <label for="{{id}}-form-title">{{titleText}}</label>
                            <input class="field" name="title" id="{{id}}-form-title" type="text" required="required" />
                        </div>
                    </div>
                </fieldset>
                {{#if expertMode}}
                <p class="right floated text-small text-muted cursor-pointer" data-module="apps/ui/helpers/collapse" data-target="#{{id}}-expert-settings">Experten-Einstellungen</p>
                <fieldset id="{{id}}-expert-settings" class="hiding">
                    <div class="fields fields-1 push-updown-30">
                        <div class="form-group">
                            <label for="{{id}}-form-css">{{cssText}}</label>
                            <input class="field" name="css" id="{{id}}-form-css" type="text" />
                        </div>
                    </div>
                </fieldset>
                {{/if}}
            </div><!-- /.main -->
            <div class="footer">
                <button type="button" class="small primary button" 
                        data-action="submit">
                    {{submitText}}
                </button>
                <button type="button" class="small default button" 
                        data-dismiss="modal">
                    {{closeText}}
                </button>
            </div><!-- /.footer -->
            </form> <!-- /form -->
        </div> <!-- /.content -->
    </div><!-- /.modal-dialog -->
</div>
