<div id="{{id}}" class="modal fade large" role="dialog" aria-hidden="true" tabindex="-1" aria-labeledby="{{id}}-title">
    <div class="modal-dialog">
        <div class="content">
            <div class="header page-title v2">
                <button type="button" class="close" data-dismiss="modal">
                    <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                    <span class="src-only">{{closeText}}</span>
                </button>
                <h3 class="title text-primary">
                    <a target="_blank" title="Amaryllis Systems GmbH Homepage aufrufen" href="https://www.amaryllis-systems.de">
                        <img src="https://www.amaryllis-cms.de/logo.png" alt="Amaryllis Systems GmbH Logo" title="Entwickelt von Amaryllis Systems GmbH"
                            height="64px" style="max-height: 64px;" />
                    </a>
                    <span id="{{id}}-title">
                        {{title}}
                    </span>
                    <p class="text-small text-muted text-center">
                        <small> 
                            &#169;
                            <a class="text-muted text-primary-hover" href="https://www.amaryllis-systems.de" title="Amaryllis Systems GmbH">
                                Amaryllis Systems GmbH
                            </a>
                        </small>
                    </p>
                </h3>
            </div>
            <div class="main text-left">
                <h4>Control Short-Codes</h4>
                <table class="table compact no-border striped">
                    <thead>
                        <tr class="primary">
                            <th class="size-300">Hotkey</th>
                            <th>Beschreibung</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each controls as |control controlName|}}
                        <tr class="hoverable">
                            <td>
                                <kbd class="keys">
                                    {{#each control/hotkey as |hotkey index|}}
                                    <kbd class="key-ctrl">{{hotkey}}</kbd>
                                    {{#if @last}} {{else}} + {{/if}} {{/each}}
                                </kbd>
                            </td>
                            <td>
                                <div class="collection">
                                    <div class="collection-item">
                                        <div class="title">
                                            {{control/label}}
                                        </div>
                                        <p>{{{control/hint}}}</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <h4>Plugin Short-Codes</h4>
                <table class="table compact no-border striped">
                    <thead>
                        <tr class="primary">
                            <th class="size-300">Hotkey</th>
                            <th>Beschreibung</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each plugins as |plugin pluginName|}}
                        <tr class="hoverable">
                            <td>
                                <kbd class="keys">
                                    {{#each plugin/hotkey as |hotkey index|}}
                                    <kbd class="key-ctrl">{{hotkey}}</kbd>
                                    {{#if @last}} {{else}} + {{/if}} {{/each}}
                                </kbd>
                            </td>
                            <td>
                                <div class="collection">
                                    <div class="collection-item">
                                        <div class="title">
                                            {{plugin/label}}
                                        </div>
                                        <p>{{{plugin/hint}}}</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- /.main -->
            <div class="footer">
                <button type="button" class="small primary button" data-dismiss="modal">
                    {{closeText}}
                </button>
            </div>
            <!-- /.footer -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.modal-dialog -->
</div>