<div class="{{options/style}} cookie-bar {{options/position}}">
    <div class="bar">
        <span class="dismiss" data-dismiss="cookie">
            <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
            <span class="src-only"></span>
        </span>
        <div class="bar-content">
            {{#if options/title}}
                <h3 class="title">{{title}}</h3>
            {{/if}}
            {{{message}}}
        </div>
        <div class="bar-button">
            <button class="primary button" data-dismiss="cookie">
                <span>{{options/closeText}}</span>
            </button>
        </div>
    </div>
</div>
