<div class="window v1 window-explorer size-500"
     id="{{id}}"
     data-maximizable=true
     data-resizable=false
     data-dragable=false
     data-top="3.125rem">
    <div class="title-bar">
        <div class="window-controls controls-left">
            <a href="#" onclick="return false;" class="window-icon">
                <i aria-hidden="true" class="acms-icon acms-icon-folder-open"></i>
            </a>
            <a href="#" onclick="return false;" class="window-menutoggle">
                <i aria-hidden="true" class="acms-icon acms-icon-bars"></i>
            </a>
        </div>
        <span class="window-title">{{t "Medien Manager" "Core"}}</span>
        <div class="window-controls controls-right">
            <a class="window-maximize" href="#" onclick="return false;">
                <i class="acms-icon acms-icon-window-maximize"></i>
            </a>
            <a class="window-fullsize" href="#" onclick="return false;" data-module="apps/ui/helpers/full-screen" data-target="#{{id}}">
                <i class="acms-icon acms-icon-expand"></i>
            </a>
            <a class="window-dismiss" href="#" onclick="return false;" data-dismiss="window" aria-label="schließen">
                <i class="acms-icon acms-icon-window-close"></i>
            </a>
        </div>
    </div>
    <ul class="window-menu" aria-hidden="true">
        <li>
            <span data-command="add-folder">
                <i class="acms-icon acms-icon-plus-circle menu-icon"></i> 
                <span>{{t "Verzeichnis zufügen" "Core"}}</span>
            </span>
        </li>
        <li>
            <span class="disabled" disabled="disabled" data-action="selection" data-command="rename">
                <i class="acms-icon acms-icon-pencil-alt menu-icon"></i> 
                <span>{{t "umbenennen" "Core"}}</span>
            </span>
        </li>
        <li>
            <span class="disabled" disabled="disabled" data-action="multi-selection" data-command="delete">
                <i class="acms-icon acms-icon-trash menu-icon"></i> 
                <span>{{t "löschen" "Core"}}</span>
            </span>
        </li>
        <li class="divider">
        <li>
            <span class="disabled" disabled="disabled" data-action="folder">
                <i class="acms-icon acms-icon-share-alt menu-icon"></i> 
                <span>Datei freigeben</span>
            </span>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="#" onclick="return false;" class="disabled" disabled="disabled">
                <i class="acms-icon acms-icon-cogs menu-icon"></i> 
                <span>Einstellungen</span>
            </a>
        </li>
    </ul>
    <div class="window-actions">
        <a class="window-back" href="#" onclick="return false;">
            <i aria-hidden="true" class="acms-icon acms-icon-chevron-left"></i>
        </a>
        <a class="window-forward disabled" href="#" onclick="return false;">
            <i aria-hidden="true" class="acms-icon acms-icon-chevron-right"></i>
        </a>
        <span class="window-action" 
              aria-label="Neues Verzeichnis"
              data-command="add-folder">
            <i class="acms-icon acms-icon-stack">
                <i aria-hidden="true" class="acms-icon acms-icon-folder acms-icon-stack-2x"></i>
                <i aria-hidden="true" class="acms-icon acms-icon-plus acms-icon-stack-1x text-dark text-bold"></i>
            </i>
        </span>
        <label class="window-action" aria-label="Neue Datei hochladen" data-command="upload" data-action="folder" disabled="disabled">
            <i aria-hidden="true" class="acms-icon acms-icon-upload"></i>
            <input class="src-only" type="file" data-action="folder" disabled="disabled">
        </label>
        <div class="window-path">
            <a href="" data-role="breadcrumb" data-index="0">
                /
            </a>
        </div>
        <div class="dropdown" data-toggle="dropdown">
            <a class="dropdown-toggle" href="#" onclick="return false;">
                <i aria-hidden="true" class="acms-icon acms-icon-ellipsis-v"></i> 
                <span class="src-only">{{t "Optionen" "Core"}}</span>
            </a>
            <div class="dropdown-content window-sort">
                <ul class="dropdown-menu window-sort-menu">
                    <li>
                        <input type="radio" value="title-asc" name="profile-media-manager-sorter" checked="checked" id="{{id}}-sort-title-asc">
                        <label data-order="title-asc" for="{{id}}-sort-title-desc">
                            <i class="acms-icon acms-icon-sort-alpha-up"></i>
                            <span>{{t "Sortiere nach Name aufsteigend" "Core"}}</span>
                        </label>
                    </li>
                    <li>
                        <input type="radio" value="title-desc" name="profile-media-manager-sorter" id="{{id}}-sort-title-desc">
                        <label data-order="title-desc" for="{{id}}-sort-title-desc">
                            <i class="acms-icon acms-icon-sort-alpha-down"></i>
                            <span>{{t "Sortiere nach Name absteigend" "Core"}}</span>
                        </label>
                    </li>
                    <li>
                        <input type="radio" value="pdate-asc" name="profile-media-manager-sorter" id="{{id}}-sort-pdate-asc">
                        <label data-order="pdate-asc" for="{{id}}-sort-pdate-asc">
                            <i class="acms-icon acms-icon-sort-up"></i>
                            <span>{{t "Sortiere nach Datum aufsteigend" "Core"}}</span>
                        </label>
                    </li>
                    <li>
                        <input type="radio" value="pdate-desc" name="profile-media-manager-sorter" id="{{id}}-sort-pdate-desc">
                        <label data-order="pdate-desc" for="{{id}}-sort-pdate-desc">
                            <i class="acms-icon acms-icon-sort-down"></i>
                            <span>{{t "Sortiere nach Datum absteigend" "Core"}}</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <form class="search">
            <input type="search" class="search-input" placeholder="In den Dateien suchen...">
            <button class="search-button">
                <i class="acms-icon acms-icon-search"></i>
            </button>
        </form>
    </div>
    <div class="window-body">
        <div class="window-side">
            <ul class="side-list">
                <li class="profile-files open">
                    <a data-role="sidemenu-toggle">
                        <i class="list-toggle"></i>
                        {{t "Eigene Dateien" "Core"}}
                    </a>
                    <ul class="my-files file-tree v1">
                    </ul>
                </li>
                <li class="profile-shared-files">
                    <a data-role="sidemenu-toggle">
                        <i class="list-toggle"></i>
                        {{t "Für mich freigegeben" "Core"}}
                    </a>
                    <ul class="shared-files file-tree v1">
                    </ul>
                </li>
            </ul>
        </div>
        <div class="window-main">
            <div class="inner">
                <ul class="file-list v1 grid-view media-manager-files">
                </ul>
            </div>
            <div class="window-overlay">
                <div class="overlay-inner">
                    <button class="close" data-dismiss="window-overlay">
                        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                    </button>
                    <div class="overlay-content">
                    </div>
                    <div class="overlay-footer">
                        <button class="button small primary" data-dismiss="window-overlay">
                            <span>{{t "Schließen" "Core"}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
