<div class="card v2" data-user="{{user/id}}" data-role="banned">
  <div class="card-content">
    <a class="right floated small avatar" href="{{user/itemUrl}}" target="_blank">
      <img src="{{user/avatar}}" alt="avatar" title="{{user/username}}" />
    </a>
    <div class="card-title">
      <a href="{{user/itemUrl}}" target="_blank">{{user/username}}</a>
    </div>
    <div class="card-meta">
      {{user/first_name}} {{user/last_name}}
    </div>
    <div class="description">
      <span>
          <i aria-hidden="true" class="acms-icon acms-icon-calendar"></i> 
          {{user/suspended_end-short}}
      </span>
    </div>
  </div>
  <div class="extra card-content">
    <div class="two buttons">
      <button class="button small success icon-button" data-trigger="unban">
        <i class="acms-icon acms-icon-check"></i>
        <span class="content">
          freigeben
        </span>
      </button>
      {{!--
      <button class="button small danger icon-button border-button" data-trigger="deleteprofile">
        <i class="acms-icon acms-icon-trash"></i>
        <span class="content">
          löschen
        </span>
      </button>
      --}}
    </div>
  </div>
</div>
