<div class="card v2" data-user="{{user/id}}" data-role="report">
    <div class="card-content">
      <div class="right floated small avatar">
        <img class="image" src="{{user/avatar}}" alt="avatar" title="{{user/username}}" />
      </div>
      <div class="card-title">
        {{user/username}} ({{user/first_name}} {{user/last_name}})
      </div>
      <div class="card-meta">
        <span>
            <i class="acms-icon acms-icon-user-friends"></i>
            {{user/friends}} Freunde
        </span>
        {{#if user/isOnline}}
            <span class="text-success"><i aria-hidden="true" class="acms-icon acms-icon-circle"></i></span>
        {{/if}}
      </div>
      <div class="description">
            <div class="xsmall page-title v7">
                <h4 class="title">Reports</h4>
                <div class="default short center line v1"></div>
            </div>
            <div class="xsmall comments v2">
                {{#each reports as |report idx|}}
                    <div class="comment">
                        <a class="medium avatar" href="{{report/reporter/itemUrl}}" title="Profil aufrufen" target="_blank">
                            <img src="{{report/reporter/avatar}}" alt="avatar" title="{{report/reporter/username}}" />
                        </a>
                        <div class="content">
                            <a class="author" href="{{report/reporter/itemUrl}}" title="Profil aufrufen" target="_blank">
                                {{report/reporter/username}}
                                {{#if report/reporter/isOnline}}
                                    <span class="text-success"><i aria-hidden="true" class="acms-icon acms-icon-circle"></i></span>
                                {{/if}}
                            </a>
                            <div class="info">
                                <span class="date">{{report/pdate-relative}}</span>
                            </div>
                            <div class="text">
                                {{{report/message}}}
                            </div>
                            <div class="actions">
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
      </div>
    </div>
    <div class="extra card-content">
      <div class="two buttons">

        <button class="button small success icon-button" data-trigger="remove">
            <i class="acms-icon acms-icon-trash"></i>
            <span class="content">löschen</span>
        </button>
        <button class="button small danger icon-button border-button" data-trigger="ban">
          <i class="acms-icon acms-icon-ban"></i>
          <span class="content">verbannen</span>
        </button>
      </div>
    </div>
  </div>
