<div id="{{id}}" class="modal v1 full-screen fade{{#if size}} {{size}}{{/if}}" role="dialog" aria-hidden="true" tabindex="-1" aria-labeledby="{{id}}-title">
    <div class="modal-dialog">
        <div class="content">
			<form method="POST">
				<div class="header">
					<button type="button" class="close" data-dismiss="modal">
						<i aria-hidden="true" class="acms-icon acms-icon-times"></i>
						<span class="src-only">{{t "Abbrechen" "Core"}}</span>
					</button>
					<h4 class="title" id="{{id}}-title">{{title}}</h4>
				</div>
				<div class="main text-left">
					<div class="form-group">
						<label class="field-label" for="field-name">
							Feld-Name (nur a-zA-Z0-9_)
							<span class="text-danger required">*</span>
						</label>
						<input type="text" name="name" id="field-name" placeholder="a-zA-Z0-9_" value="{{field/name}}">
					</div>
					<div class="form-group">
						<label class="field-label" for="field-caption">Caption</label>
						<input type="text" name="caption" id="field-caption" placeholder="" value="{{field/title}}">
					</div>
					<div class="form-group">
						<label class="field-label" for="field-description">Feld-Beschreibung</label>
						<input type="text" name="caption" id="field-description" placeholder="" value="{{if field/description}}{{field/description}}{{/if}}">
					</div>
					<div class="fields fields-3">
						<div class="form-group exportable">
							<label for="field-exportable">
								{{t "Exportierbar?" "Core"}}
								<a class="right floated acms-helptip clearfix" data-module="apps/ui/informations/tooltip" data-toggle="tooltip" data-trigger="hover click" data-html="true" data-title="Wählen Sie ja um das Feld für den Export zu erlauben">
									<span class="cursor-pointer acms-icon acms-icon-question-circle regular floated right"></span>
								</a>
							</label>
							<div class="switch v2 success compact toggle-variant" data-module="ui/components/checkbox-switch">
								<input type="hidden" value="0" name="exportable">
								<input id="field-exportable" data-caption="Kann das Feld exportiert werden?" data-description="Wählen Sie ja um das Feld für den Export zu erlauben" value="1" type="checkbox" name="exportable">
								<label for="field-exportable" data-on="Ja" data-off="Nein"></label>
							</div>
						</div>
						<div class="form-group editable">
							<label for="field-editable">
								{{t "Bearbeitbar?" "Core"}}
								<a class="right floated acms-helptip clearfix" data-module="apps/ui/informations/tooltip" data-toggle="tooltip" data-trigger="hover click" data-html="true" data-title="Wählen Sie ja um das Feld für den Export zu erlauben">
									<span class="cursor-pointer acms-icon acms-icon-question-circle regular floated right"></span>
								</a>
							</label>
							<div class="switch v2 success compact toggle-variant" data-module="ui/components/checkbox-switch">
								<input type="hidden" value="0" name="editable">
								<input id="field-editable" data-caption="Kann das Feld bearbeitet werden?" data-description="Wählen Sie ja um das Feld für die Bearbeitung durch den Benutzer zu erlauben" value="1" type="checkbox" name="editable">
								<label for="field-editable" data-on="Ja" data-off="Nein"></label>
							</div>
						</div>
						<div class="form-group required">
							<label for="field-required">
								{{t "Erforderlich?" "Core"}}
								<a class="right floated acms-helptip clearfix" data-module="apps/ui/informations/tooltip" data-toggle="tooltip" data-trigger="hover click" data-html="true" data-title="Wählen Sie ja um das Feld als erforderlich zu markieren. Bitte beachten Sie, dass exportierbare Felder eien Registrierungs-Schritt erfordern!">
									<span class="cursor-pointer acms-icon acms-icon-question-circle regular floated right"></span>
								</a>
							</label>
							<div class="switch v2 success compact toggle-variant" data-module="ui/components/checkbox-switch">
								<input type="hidden" value="0" name="required">
								<input id="field-required" data-caption="Ist das Feld erforderlich?" data-description="Wählen Sie ja um das Feld als erforderlich zu markieren" value="1" type="checkbox" name="required">
								<label for="field-required" data-on="Ja" data-off="Nein"></label>
							</div>
						</div>
					</div>
					<input type="hidden" name="type" value="core.textbox">
					<input type="hidden" name="id" value="{{field/id}}">
				</div>
				<div class="footer">
					<button type="button" class="button primary" data-trigger="save">
						{{t "Speichern" "Core"}}
					</button>
					<button type="button" class="button default" 
							data-dismiss="modal">
						{{t "Abbrechen" "Core"}}
					</button>
				</div>
			</form>
        </div>
    </div>
</div>
