<div class="form-wrapper">
	<form role="form" method="post" data-reload="true">
		<div class="heading">
			<button class="close" data-dismiss="modal" aria-label="{{t 'Abbrechen' 'Core'}}">
				<i aria-hidden="true" class="acms-icon acms-icon-times"></i>
			</button>
			<h3 class="title" id="notebook-add-modal-title">{{t "Neues Notizbuch zufügen" "Core"}}</h3>
		</div>
		<div class="main">
			<div class="form-group">
				<label class="src-only" for="notebook-title">
					{{t "Name Ihres Notiz-Buches" "Core"}}
				</label>
				<input class="field" type="text" name="title" id="notebook-title" placeholder="{{t 'Name des Notizbuches' 'Core'}}">
			</div>
			<input type="hidden" name="op" value="addnotebook">
			<input type="hidden" name="notebook_id" value="0">
		</div>
		<div class="footer">
			<button class="small default button" data-trigger="abort" data-dismiss="modal">
				<span>{{t "Abbrechen" "Core"}}</span>
			</button>
			<button data-trigger="save-close" class="small primary button">
				<span>{{t "Speichern" "Core"}}</span>
			</button>
		</div>
	</form>
</div>
