<li class="notebook-item{{#if active}} active{{/if}}" 
	data-book-id="{{book/id}}" 
	data-book-pdate="{{book/pdate-webdate}}" 
	data-book-udate="{{book/udate-webdate}}" 
	data-book-title="{{book/title}}">
	<a href="#" onclick="return false;" class="title{{#if active}} active{{/if}}">
		{{book/title}}
	</a>
</li>
