//
// Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
// 
// @author qm-b <qm-b@amaryllis-websolutions.de>
// @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
// @copyright Amaryllis Systems http://www.amaryllis-systems.de/
// 
// Copyright 2017 Amaryllis Systems GmbH
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
@import "../../../sass/assets/framework";
@import "../../../sass/assets/settings";

$bulletboard-sass-version: "1.0.0";

$bulletboard-sass-build-version: 10;



//##############################################################################
// .question
//##############################################################################

/// question border-width
///
/// Die Standard-Breite des Rahmens für eine einzelne Frage in der Übersicht
///
/// @type {Number}  border-width Angabe
///
/// @group {forum-module}
$forum-question-border-width: $standard-border-width !default;

/// question border-color
///
/// Die Standard-Farbe des Rahmens für eine einzelne Frage in der Übersicht
///
/// @type {Color}  border-color Angabe
///
/// @group {forum-module}
$forum-question-border-color: #a2a2a2 !default;




/// Forum Panel Hintergrund
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {forum-module}
$module-forum-panel-background-color: $grey-ultra-light !default;

/// Forum Panel border-color
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {forum-module}
$module-forum-panel-border-color: $darker !default;

/// Forum Panel padding
///
/// @type {Number|List}   -   padding-Angabe
///
/// @group {forum-module}
$module-forum-panel-padding: em(10) !default;


/// Forum Panel Heading font-size
///
/// Schrift-Größe der Block-Panel Überschriften. Unterstützt sind h2 und 
/// h3-Überschriften
///
/// @type {Number}   -   font-size-Angabe
///
/// @group {forum-module}
$module-forum-panel-heading-font-size: 1em !default;

/// Forum Panel Heading Anchor Farbe
///
/// Die Farbe des Anchor Tags im Forum Post Panel Heading
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {forum-module}
$module-forum-panel-heading-anchor-color: $primary !default;

/// Forum Panel Heading Anchor Hover Farbe
///
/// Die Farbe des Anchor Tags im Forum Post Panel Heading bei hover
///
/// @type {Color}   -   Farb-Angabe
///
/// @group {forum-module}
$module-forum-panel-heading-anchor-color: $primary !default;

