@charset "UTF-8";
@import "_settings.scss";
/*!
 * Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
 *
 * @author qm-b <qm-b@amaryllis-websolutions.de>
 * @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
 * @copyright Amaryllis Systems http://www.amaryllis-systems.de/
 * 
 *
 * Copyright 2017 Amaryllis Systems GmbH <https://www.amaryllis-systems.de/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Framework-Version: #{$sass-framework-version}
 * Framework-Build: #{$sass-framework-build-version}
 */

 .module-logo.bulletboard {
     background-color: #518ef6;
 }

@import "components/_forum-groups.scss";
@import "components/_single-forum.scss";
@import "components/_forum-forms.scss";
@import "components/_topic-list.scss";
@import "components/_single-topic.scss";
@import "components/_onliners-block.scss";

.bulletboard-fieldset {
    legend {
        border: 0 none transparent;
    }
}

$bulletboard-form-group-padding: 0.5em !default;

$bulletboard-form-group-hover-background-color: $grey-ultra-light !default;

$bulletboard-form-group-hover-color: $darker !default;

.form-group.bulletboard-form-group {
    @include flexbox;
    @include flexbox-row;
    @include flexbox-nowrap;
    padding: $bulletboard-form-group-padding;
    margin: 0;
    
    > label:not(.switch),
    > .field-label {
        @include flexbox-base(20%);
        
        @media all and (min-width: $break-medium) {
            @include flexbox-base(30%);
        }
    }
    
    .switch {
        margin-left: auto;
    }
    
    &:nth-child(odd) {
        border-top: $standard-border-width solid $standard-border-color;
        border-bottom: $standard-border-width solid $standard-border-color;
    }
    
    &:hover {
        background-color: $bulletboard-form-group-hover-background-color;
        
        > label {
            color: $bulletboard-form-group-hover-color;
        }
    }
}

.bulletboard-forumsettings-form {
    legend {
        display: none;
        visibility: hidden;
    }

    > fieldset {
        > .form-group.moderator_reputation {

            > .field {
                
                &[type="number"] {
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    -moz-appearance: textfield;
                    max-width: 5.75em;
                    margin-left: auto;
                    padding-top: .625em;
                    padding-bottom: .625em;
                    text-align: center;
                    height: auto;
                    min-height: auto;
                }
            }
        }
    }
}

[data-section="bulletboard"] {

    @include flexbox;
    @include flexbox-wrap;
    @include flexbox-row;

    > .bulletboard-content {
        @media all and (min-width: $break-medium) {
            @include flexbox-base(70%);
        }
    }

    > .bulletboard-sidebar {
        @media all and (min-width: $break-medium) {
            @include flexbox-base(30%);
        }
        > aside {
            margin: rem(5);
            @media all and (min-width: $break-medium) {
                margin: rem(15);
            }
        }
    }

}
