@charset "UTF-8";
//@import "../../../sass/assets/framework";
//@import "../../../sass/assets/settings";
@import "_settings.scss";
/*!
 * Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
 *
 * @author qm-b <qm-b@amaryllis-websolutions.de>
 * @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
 * @copyright Amaryllis Systems http://www.amaryllis-systems.de/
 * 
 *
 * Copyright 2017 Amaryllis Systems GmbH <https://www.amaryllis-systems.de/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Framework-Version: #{$sass-framework-version}
 * Framework-Build: #{$sass-framework-build-version}
 * Bulletboard Framework Version: #{$bulletboard-sass-version}
 * Bulletboard Framework Build: #{$bulletboard-sass-build-version}
 */


 #profile {
    > aside.sidebar-main {
       @include flexbox-first();

       @media all and (max-width: 1023px) {
           @include flexbox-base(50%);
       }
       @media all and (max-width: 767px) {
           @include flexbox-base(100%);
       }
    }
    .profile-bulletboard.profile-content {
        flex-basis: 70%;
        @media all and (max-width: 1023px) {
           @include flexbox-first();
           @include flexbox-base(100%);
        }

        + .profile-bulletboard-sidebar {
            padding-top: 3rem;
            background-color: $grey-ultra-light;
            flex-basis: 20%;

           @media all and (max-width: 1023px) {
               @include flexbox-last();
               @include flexbox-base(50%);
           }
           @media all and (max-width: 767px) {
               @include flexbox-base(100%);
           }
           
            h3 {
                text-transform: uppercase;
            }
        }
    }
}
