<div class="item" data-role="avatar" data-id="{{avatar/id}}">
    <div class="right floated content">
        <div class="pull-down-5 right aligned">
            <span data-toggle="activate" 
                    data-active="{{avatar/active}}" 
                    class="text-xxlarge push-0 transparent white no-border icon button cursor-pointer {{if avatar/active}}text-success{{else}}text-muted text-success-hover{{/if}}">
                <i aria-hidden="true" class="acms-icon acms-icon-check-circle"></i>
            </span>
            <span data-trigger="delete" class="text-xxlarge push-0 transparent white no-border icon button cursor-pointer text-muted text-danger-hover">
                <i aria-hidden="true" class="acms-icon acms-icon-trash"></i>
            </span>
        </div>
    </div>
    <img class="xsmall avatar image" src="{{avatar/raw}}" alt="" title="{{avatar/pdate-simple}}">
    <div class="content">
        <div class="header">
            {{t "hochgeladen am:" "Core"}} {{avatar/pdate-simple}}
        </div>
    </div>
</div>
