<div class="token" data-value="{{token/value}}">
    <span class="token-label" data-role="label">{{token/label}}</span>
    <span class="close" aria-label="{{token/closeText}}" data-role="close">
        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
    </span>
</div>
