<div class="item" data-id="{{group/id}}" data-title="{{group/title}}" data-name="{{group/name}}">
	<i class="middle aligned large brand acms-icon acms-icon-folder"></i>
	<div class="content">
		<a class="heading" href="{{group/itemUrl}}">
			{{group/title}} 
			<span class="default label v2">{{group/name}}</span> <span class="primary badge v1">{{group/members}}</span>
		</a>
		<div class="description">{{group/description}}</div>
	</div>
</div>
