<div class="item" data-role="group-form">
	<i class="middle aligned large brand acms-icon acms-icon-folder"></i>
	<div class="content">
		<div class="heading">
			<div class="two fields">
				<div class="form-group">
					<label class="src-only" for="group-form-title">{{t "Gruppen-Bezeichnung" "Clients"}}</label>
					<input id="group-form-title" class="field" name="title" value="{{group/title}}" placeholder="{{t 'Bezeichnung der Gruppe'}}" />
				</div>
				<div class="form-group">
					<label class="src-only" for="group-form-name">{{t "Gruppen-Name" "Clients"}}</label>
					<input id="group-form-name" class="field" name="title" value="{{group/name}}" placeholder="{{t 'Name der Gruppe [a-zA-Z_-]'}}" />
				</div>
			</div> 
		</div>
		<div class="description">
			<div class="form-group">
				<label class="src-only" for="group-form-description">{{t "Gruppen-Beschreibung" "Clients"}}</label>
				<textarea id="group-form-description" class="field" name="title" value="{{group/description}}" placeholder="{{t 'Beschreibung der Gruppe' 'Clients'}}" />
			</div>
			<div class="button-toolbar">
				<button class="small primary button" data-role="submit" type="button" name="submit">
					<i aria-hidden="true" class="acms-icon acms-icon-save"></i>
					<span>{{t "Speichern" "Core"}}</span>
				</button>
				<button class="small default button" data-role="abort" type="button" name="abort">
					<i aria-hidden="true" class="acms-icon acms-icon-times"></i>
					<span>{{t "Speichern" "Core"}}</span>
				</button>
			</div>
		</div>
	</div>
</div>
