<li class="circle-friend collection-item has-avatar">
    <div class="avatar item-image">
        <img src="{{friend/avatar}}" title="{{friend/username}}" alt="" />
    </div>
    <div class="text">
        <a href="{{friend/itemUrl}}" title="{{friend/username}}">
            {{friend/username}}
        </a>
    </div>
    <div class="secondary-content">
        <span class="label label-default cursor-pointer" data-toggle="circles" data-id="{{friend/id}}" data-circles="{{#if friend/circles}}{{friend/circles}}{{/if}}">
            {{friend/circlecount}} {{t "Kreise" "Core"}}
        </span>
    </div>
</li>
