<div class="friend-result card v2 hoverable">
    <div class="card-image">
        <img class="circle" src="{{friend/avatar}}" title="{{friend/username}}" alt="" />
    </div>
    <div class="card-content">
        <div class="card-title text-center">
            <a href="{{friend/itemUrl}}" title="{{friend/username}}">
                {{friend/username}}
            </a>
        </div>
    </div>
</div>
