<div class="friend-result card v2 hoverable" data-role="user-card">
    <a class="card-image bg-inverted" href="{{friend/itemUrl}}">
        <img class="circle" src="{{friend/avatar}}" title="{{friend/username}}" alt="" />
    </a>
    <div class="card-content">
        <a class="h3" href="{{friend/itemUrl}}" title="{{friend/username}}">
            {{friend/username}}
        </a>
        <div class="card-meta">
            <span class="date">{{t "Mitglied seit" "Core"}} {{moment friend/registration_date-webdate format="YYYY"}}</span>
            {{#if friend/isOnline}}
                <span class="text-success"><i aria-hidden="true" class="acms-icon acms-icon acms-icon-circle"></i></span>
            {{/if}}
        </div>
        <div class="description">
            
        </div>
    </div>
    {{#if friend/friends}}
    <div class="extra card-content">
        <span>
            <i class="acms-icon acms-icon-user-friends"></i>
            {{friend/friends}} Freunde
        </span>
    </div>
    {{/if}}
    <div class="two bottom plugged buttons">
        <button type="button" class="primary button" data-trigger="request" data-friend2="{{friend/id}}">
            <i aria-hidden="true" class="acms-icon acms-icon-user-plus"></i>
            <span>{{t "Kontakt zufügen" "Core"}}</span>
        </button>
    </div>
</div>
