<div class="theme-settings form-wrapper">
    {{!-- Front End --}}
    <div class="row full xxsmall-push-updown-30">
        <div class="column xxsmall-12 medium-12 large-6 xlarge-6 xxlarge-6">
            <div class="content-block v6 compact push-leftright-10 push-updown-0">
                <h3><i class="acms-icon acms-icon-lightbulb regular text-muted"></i> Front End</h3>
                <p>Die aktuellen Themen-Einstellungen für das Front-End.</p>
            </div>
            <ul class="bordered statinfo v1 push-leftright-10">
                <li class="item">
                    <div class="text text-primary">Standard-Theme <small class="text-muted display-block">Standard-Theme für das Front-End</small> </div>
                    <div class="statinfo">
                        <div class="small form-group">
                            <select class="small field" name="theme_set" id="admin-theme-settings-default-theme" value="{{settings/theme_set}}">
                                {{#each themes as |theme foldername|}}
                                    {{#xif theme/config/settings/has_main '==' 1}}
                                        <option value="{{foldername}}"{{#xif theme/foldername '==' ../../settings/theme_set}}selected="selected"{{/xif}}>{{theme/name}}</option>
                                    {{/xif}}
                                {{/each}}
                            </select>
                            <label for="admin-theme-settings-default-theme" aria-label="Standard-Theme"></label>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="text text-primary">Standard Tablet-Theme <small class="text-muted display-block">Standard Tablet-Theme für das Front-End</small> </div>
                    <div class="statinfo">
                        <div class="small form-group">
                            <select class="small field" name="theme_tablet_set" id="admin-theme-settings-default-theme-tablet" value="{{settings/theme_tablet_set}}">
                                {{#each themes as |theme foldername|}}
                                    {{#xif theme/config/settings/has_tablet '==' 1}}
                                        <option value="{{foldername}}" {{#xif theme/foldername '==' ../../settings/theme_tablet_set}}selected="selected"{{/xif}}>{{theme/name}}</option>
                                    {{/xif}}
                                {{/each}}
                            </select>
                            <label for="admin-theme-settings-default-theme-tablet" aria-label="Standard Tablet-Theme"></label>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="text text-primary">Standard Mobile-Theme <small class="text-muted display-block">Standard Mobile-Theme für das Front-End</small> </div>
                    <div class="statinfo">
                        <div class="small form-group">
                            <select class="small field" name="theme_mobile_set" id="admin-theme-settings-default-theme-mobile" value="{{settings/theme_mobile_set}}">
                                {{#each themes as |theme foldername|}}
                                    {{#xif theme/config/settings/has_mobile '==' 1}}
                                        <option value="{{foldername}}" {{#xif theme/foldername '==' ../../settings/theme_mobile_set}}selected="selected"{{/xif}}>{{theme/name}}</option>
                                    {{/xif}}
                                {{/each}}
                            </select>
                            <label for="admin-theme-settings-default-theme-mobile" aria-label="Standard Mobile-Theme"></label>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="text text-primary">Standard App-Theme <small class="text-muted display-block">Standard App-Theme für das Front-End</small> </div>
                    <div class="statinfo">
                        <div class="small form-group">
                            <select class="small field" name="theme_app_set" id="admin-theme-settings-default-theme-app" value="{{settings/theme_app_set}}">
                                {{#each themes as |theme foldername|}}
                                    {{#xif theme/config/settings/has_app '==' 1}}
                                        <option value="{{foldername}}" {{#xif theme/foldername '==' ../../settings/theme_app_set}}selected="selected"{{/xif}}>{{theme/name}}</option>
                                    {{/xif}}
                                {{/each}}
                            </select>
                            <label for="admin-theme-settings-default-theme-app" aria-label="Standard App-Theme"></label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        {{!-- Back End --}}
        <div class="column xxsmall-12 medium-12 large-6 xlarge-6 xxlarge-6">
            <div class="content-block v6 compact push-leftright-10 push-updown-0">
                <h3><i class="acms-icon acms-icon-lightbulb regular text-muted"></i> Back End</h3>
                <p>Die aktuellen Themen-Einstellungen für das Back-End.</p>
            </div>
            <ul class="bordered statinfo v1 push-leftright-10">
                <li class="item">
                    <div class="text text-primary">Standard Admin-Theme <small class="text-muted display-block">Standard-Theme für das Back-End</small> </div>
                    <div class="statinfo">
                        <div class="small form-group">
                            <select class="small field" name="theme_admin_set" id="admin-theme-settings-backend-theme" value="{{settings/theme_admin_set}}">
                                {{#each themes as |theme foldername|}}
                                    {{#xif theme/config/settings/has_admin '==' 1}}
                                        <option value="{{foldername}}" {{#xif theme/foldername '==' ../../settings/theme_admin_set}}selected="selected"{{/xif}}>{{theme/name}}</option>
                                    {{/xif}}
                                {{/each}}
                            </select>
                            <label for="admin-theme-settings-backend-theme" aria-label="Standard-Theme"></label>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="text text-primary">Standard Admin Tablet-Theme <small class="text-muted display-block">Standard Tablet-Theme für das Back-End</small> </div>
                    <div class="statinfo">
                        <div class="small form-group">
                            <select class="small field" name="theme_admin_tablet_set" id="admin-theme-settings-backend-theme-tablet" value="{{settings/theme_admin_tablet_set}}">
                                {{#each themes as |theme foldername|}}
                                    {{#xif theme/config/settings/has_admin_tablet '==' 1}}
                                        <option value="{{foldername}}" {{#xif theme/foldername '==' ../../settings/theme_admin_tablet_set}}selected="selected"{{/xif}}>{{theme/name}}</option>
                                    {{/xif}}
                                {{/each}}
                            </select>
                            <label for="admin-theme-settings-backend-theme-tablet" aria-label="Standard Admin Tablet-Theme"></label>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="text text-primary">Standard Admin Mobile-Theme <small class="text-muted display-block">Standard Mobile-Theme für das Back-End</small> </div>
                    <div class="statinfo">
                        <div class="small form-group">
                            <select class="small field" name="theme_admin_mobile_set" id="admin-theme-settings-backend-theme-mobile" value="{{settings/theme_admin_mobile_set}}">
                                {{#each themes as |theme foldername|}}
                                    {{#xif theme/config/settings/has_admin_mobile '==' 1}}
                                        <option value="{{foldername}}" {{#xif theme/foldername '==' ../../settings/theme_admin_mobile_set}}selected="selected"{{/xif}}>{{theme/name}}</option>
                                    {{/xif}}
                                {{/each}}
                            </select>
                            <label for="admin-theme-settings-backend-theme-mobile" aria-label="Standard Admin Mobile-Theme"></label>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="text text-primary">Standard Admin App-Theme <small class="text-muted display-block">Standard App-Theme für das Back-End</small> </div>
                    <div class="statinfo">
                        <div class="small form-group">
                            <select class="small field" name="theme_admin_app_set" id="admin-theme-settings-backend-theme-app" value="{{settings/theme_admin_app_set}}">
                                {{#each themes as |theme foldername|}}
                                    {{#xif theme/config/settings/has_admin_app '==' 1}}
                                        <option value="{{foldername}}" {{#xif theme/foldername '==' ../../settings/theme_admin_app_set}}selected="selected"{{/xif}}>{{theme/name}}</option>
                                    {{/xif}}
                                {{/each}}
                            </select>
                            <label for="admin-theme-settings-backend-theme-app" aria-label="Standard Admin App-Theme"></label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
