<div class="item" data-foldername="{{theme/config/informations/dirname}}">
    <div class="small image">
        <img src="{{Acms/Urls/baseUrl}}/themes/{{theme/foldername}}/{{theme/config/informations/preview/thumb}}" alt="{{theme/config/informations/dirname}}" title="{{theme/config/informations/name}}" />
    </div>
    <div class="content">
        <div class="text-medium header">{{theme/config/informations/name}}</div>
        <div class="meta">
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-industry"></i></span> {{theme/config/informations/author/company/name}}</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-user"></i></span> {{theme/config/informations/author/name}}</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-history"></i></span> {{theme/config/informations/version}} ({{theme/config/informations/dbversion}})</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-calendar"></i></span> {{theme/config/informations/release_date}}</span>
            <a class="xxsmall tag v1" href="{{theme/config/informations/author/company/url}}" target="_blank"><span class="tag-image"><i class="acms-icon acms-icon-globe"></i></span> {{t "Website" "Core"}}</a>
        </div>
        <div class="description">
            <p>
                <p>{{theme/config/informations/description}}</p>
            </p>
        </div>
        <div class="extra">
            <button type="button" class="right floated primary icon button" aria-label="install" data-trigger="install">
                <i aria-hidden="true" class="acms-icon acms-icon-save regular"></i>
            </button>
            <button type="button" class="right floated danger icon button" aria-label="remove" data-trigger="trash">
                <i aria-hidden="true" class="acms-icon acms-icon-trash"></i>
            </button>
        </div>
    </div>
</div>
