<div class="small item" data-foldername="{{theme/foldername}}">
    <div class="small image">
        <img src="{{Acms/Urls/baseUrl}}/themes/{{theme/foldername}}/{{theme/config/informations/preview/thumb}}" alt="{{theme/config/informations/dirname}}" title="{{theme/config/informations/name}}" />
    </div>
    <div class="content">
        <div class="text-medium header">{{theme/name}}</div>
        <div class="meta">
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-industry"></i></span> {{theme/config/informations/author/company/name}}</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-user"></i></span> {{theme/config/informations/author/name}}</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-history"></i></span> {{theme/config/informations/version}} ({{theme/config/informations/dbversion}})</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-calendar"></i></span> {{theme/config/informations/release_date}}</span>
            <a class="xxsmall tag v1" href="{{theme/config/informations/author/company/url}}" target="_blank"><span class="tag-image"><i class="acms-icon acms-icon-globe"></i></span> {{t "Website" "Core"}}</a>
        </div>
        <div class="description">
            <p>{{theme/config/informations/description}}</p>
            <div class="form-wrapper push-0 pull-0">
                <form class="form push-0 pull-0" role="form" method="POST" onsubmit="return false;">
                    <div class="small form-group">
                        <label>Theme Name</label>
                        <input type="text" name="name" class="field" value="{{theme/name}}" id="theme-name-{{theme/id}}" placeholder="Theme Name" />
                    </div>
                    <div class="two fields">
                        <div class="form-group">
                            <label for="theme-active-{{theme/id}}">Theme aktivieren</label>
                            <div class="small toggle-variant switch v2 {{#xif theme/foldername '==' 'core'}}cursor-disabled{{/xif}}">
                                <input type="checkbox" name="active" value="1" id="theme-active-{{theme/id}}" {{#xif theme/active '==' 1}}checked="checked"{{/xif}} {{#xif theme/foldername '==' 'core'}}disabled="disabled"{{/xif}} />
                                <label for="theme-active-{{theme/id}}" aria-label="Theme aktivieren"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="theme_{{theme/id}}_selectable">Theme auswählbar</label>
                            <div class="small toggle-variant switch v2">
                                <input type="checkbox" name="selectable" value="1" id="theme_{{theme/id}}_selectable" {{#xif theme/selectable '==' 1}}checked="checked"{{/xif}} {{#xif total '==' 1}}disabled="disabled"{{/xif}} />
                                <label for="theme_{{theme/id}}_selectable" aria-label="Theme für Auswahl aktivieren"></label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{theme/id}}" />
                    <input type="hidden" name="op" value="save" />
                </form>
            </div>
        </div>
        <div class="extra">
            <div class="xxsmall label v2 {{#xif theme/active '==' 1}}success{{else}}default{{/xif}}">
                {{#xif theme/active '==' 1}}active{{else}}inactive{{/xif}}
            </div>
            <button type="button" class="right floated default icon button" aria-label="update" data-trigger="update">
                <i aria-hidden="true" class="acms-icon acms-icon-sync-alt"></i>
            </button>
            {{#xif theme/foldername '!=' 'core'}}
                <button type="button" class="right floated default icon button danger-hover" aria-label="uninstall" data-trigger="uninstall">
                    <i aria-hidden="true" class="acms-icon acms-icon-trash"></i>
                </button>
            {{/xif}}
        </div>
    </div>
</div>
