<div class="small item" data-foldername="{{language/foldername}}">
    <div class="small image">
        <img src="{{Acms/Urls/baseUrl}}/translations/{{language/version/locale}}/flag_shiny_64.png" alt="{{language/version/locale}}" title="{{language/version/name}}" />
    </div>
    <div class="content">
        <div class="text-medium header">{{language/version/name}}</div>
        <div class="meta">
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-industry"></i></span> {{language/version/author/company/name}}</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-user"></i></span> {{language/version/author/name}}</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-history"></i></span> {{language/version/version}} ({{language/version/build}})</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-calendar"></i></span> {{language/version/release_date}}</span>
            <a class="xxsmall tag v1" href="{{language/version/author/company/url}}" target="_blank"><span class="tag-image"><i class="acms-icon acms-icon-globe"></i></span> {{t "Website" "Core"}}</a>
        </div>
        <div class="description">
            <div class="form-wrapper push-0 pull-0">
                <form class="form push-0 pull-0" role="form" method="POST" onsubmit="return false;">
                    <div class="small form-group">
                        <label for="language-censor_words-{{language/id}}">{{t "Wort-Zensor" "Core"}}</label>
                        <textarea id="language-censor_words-{{language/id}}" class="field" name="censor_words">{{language/censor_words}}</textarea>
                    </div>
                    <div class="two small fields">
                        <div class="form-group">
                            <label for="language-censor_replacement-{{language/id}}">{{t "Wort-Ersatz" "Core"}}</label>
                            <input type="text" id="language-censor_replacement-{{language/id}}" class="field" placeholder="Oops..." name="censor_replacement" value="{{language/censor_replacement}}" />
                        </div>
                        <div class="form-group">
                            <label for="language-anonymous-{{language/id}}">{{t "Gast" "Core"}}</label>
                            <input type="text" id="language-anonymous-{{language/id}}" class="field" placeholder="Gast" name="anonymous" value="{{language/anonymous}}" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="form-group">
                            <label for="language-active-{{language/id}}">Sprach-Paket aktivieren</label>
                            <div class="small toggle-variant switch v2 {{#xif language/version/locale '==' 'de_DE'}}cursor-disabled{{/xif}}">
                                <input type="checkbox" name="active" value="1" id="language-active-{{language/id}}" {{#xif language/active '==' 1}}checked="checked"{{/xif}} {{#xif language/foldername '==' 'de_DE'}}disabled="disabled"{{/xif}} />
                                <label for="language-active-{{language/id}}" aria-label="Sprach-Paket aktivieren"></label>
                            </div>
                        </div>
                    </div>
                    <div class="small form-group">
                        <label for="language-options-{{language/id}}">{{t "Optionen" "Core"}}</label>
                        <textarea readonly disabled style="height: 400px; background-color: #eee" id="language-options-{{language/id}}" class="field" name="options">{{language/optionsString}}</textarea>
                    </div>
                    <input type="hidden" name="id" value="{{language/id}}" />
                    <input type="hidden" name="token" value="{{token}}" />
                    <input type="hidden" name="op" value="save" />
                </form>
            </div>
        </div>
        <div class="extra">
            <div class="xxsmall label v2 {{#xif language/active '==' 1}}success{{else}}default{{/xif}}">
                {{#xif language/active '==' 1}}active{{else}}inactive{{/xif}}
            </div>
            <button type="button" class="right floated default icon button" aria-label="update" data-trigger="update">
                <i aria-hidden="true" class="acms-icon acms-icon-sync-alt"></i>
            </button>
            {{#xif language/foldername '!=' 'de_DE'}}
                <button type="button" class="right floated default icon button danger-hover" aria-label="uninstall" data-trigger="uninstall">
                    <i aria-hidden="true" class="acms-icon acms-icon-trash"></i>
                </button>
            {{/xif}}
        </div>
    </div>
</div>
