<div class="item" data-foldername="{{language/version/locale}}">
    <div class="small image">
        <img src="{{Acms/Urls/baseUrl}}/translations/{{language/foldername}}/flag_shiny_64.png" alt="{{language/version/locale}}" title="{{language/version/name}}" />
    </div>
    <div class="content">
        <div class="text-medium header">{{language/version/name}}</div>
        <div class="meta">
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-industry"></i></span> {{language/version/author/company/name}}</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-user"></i></span> {{language/version/author/name}}</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-history"></i></span> {{language/version/version}} ({{language/version/build}})</span>
            <span class="xxsmall tag v1"><span class="tag-image"><i class="acms-icon acms-icon-calendar"></i></span> {{language/version/release_date}}</span>
            <a class="xxsmall tag v1" href="{{language/version/author/company/url}}" target="_blank"><span class="tag-image"><i class="acms-icon acms-icon-globe"></i></span> {{t "Website" "Core"}}</a>
        </div>
        <div class="description">
            
        </div>
        <div class="extra">
            <button type="button" class="right floated primary icon button" aria-label="install" data-trigger="install">
                <i aria-hidden="true" class="acms-icon acms-icon-save regular"></i>
            </button>
            <button type="button" class="right floated danger icon button" aria-label="remove" data-trigger="trash">
                <i aria-hidden="true" class="acms-icon acms-icon-trash"></i>
            </button>
        </div>
    </div>
</div>
