<div class="icon language-tabs tabs-v2">
    <div class="tab">
        {{!-- installed languages --}}
        <input type="radio" name="language-tab" id="language-installed-tab" checked="checked" />
        <label for="language-installed-tab">
            <i aria-hidden="true" class="acms-icon acms-icon-check-circle text-success"></i>
            <span>{{t "Installierte Sprach-Pakete" "Core"}}</span>
        </label>
        <div class="panel">
            <div class="page-title v7">
                <i aria-hidden="true" class="acms-icon acms-icon-cloud-upload-alt text-muted"></i>
                <div class="content">
                    <h3 class="title">
                        {{t "Installierte Sprach-Pakete" "Core"}}
                    </h3>
                    <div class="sub-title">{{t "LANGUAGE_ADMIN_INSTALLED_HINT" "Core"}}</div>
                </div>
            </div>
            <div class="boxed items v1" data-panel="installed"></div>
        </div>
        {{!-- not installed languages --}}
        <input type="radio" name="language-tab" id="language-uninstalled-tab" />
        <label for="language-uninstalled-tab">
            <i aria-hidden="true" class="acms-icon acms-icon-times-circle text-muted"></i>
            <span>{{t "Nicht installierte Sprach-Pakete" "Core"}}</span>
        </label>
        <div class="panel">
            <div class="page-title v7">
                <i aria-hidden="true" class="acms-icon acms-icon-times-circle text-muted"></i>
                <div class="content">
                    <h3 class="title">
                        {{t "Nicht installierte Sprach-Pakete" "Core"}}
                    </h3>
                    <div class="sub-title">{{t "LANGUAGE_ADMIN_UNINSTALLED_HINT" "Core"}}</div>
                </div>
            </div>
            <div class="boxed items v1" data-panel="uninstalled"></div>
        </div>
        {{!-- language upload --}}
        <input type="radio" name="language-tab" id="language-upload-tab" />
        <label for="language-upload-tab">
            <i aria-hidden="true" class="acms-icon acms-icon-cloud-upload-alt text-royal"></i>
            <span>{{t "hochladen" "Core"}}</span>
        </label>
        <div class="panel" data-panel="upload">
            <div class="content-block v5">
                <div class="center aligned icon page-title v7">
                    <i aria-hidden="true" class="circular acms-icon acms-icon-cloud-upload-alt text-muted"></i>
                    <div class="content">
                        <h3 class="title">
                            {{t "neues Sprach-Paket hochladen" "Core"}}
                        </h3>
                        <div class="sub-title">{{t "LANGUAGE_ADMIN_UPLOAD_HINT" "Core"}}</div>
                    </div>
                </div>
                <div class="form-wrapper">
                    <form class="middle aligned form" method="POST" onsubmit="return false;">
                        <div class="form-group">
                            <div class="center-block file-input v4">
                                <input type="file" name="language" id="language-upload-input" accept="application/zip" />
                                <label for="language-upload-input">
                                    <figure>
                                        <i aria-hidden="true" class="acms-icon acms-icon-upload"></i>
                                        <figcaption>upload</figcaption>
                                    </figure>
                                </label>
                            </div>
                        </div>
                        <div class="bordered warning alert v2">
                            <i aria-hidden="true" class="acms-icon acms-icon-exclamation-triangle"></i>
                            <div class="alert-content">
                                {{t "Durch hochladen einer Sprache akzeptieren Sie automatisch die Lizenz des Sprach Paketes. Installieren Sie keine Sprach-Pakete ohne die Lizenz gelesen und akzeptiert zu haben!" "Core"}}
                            </div>
                        </div>
                        <input type="hidden" name="agree-upload" value="1">
                        <input type="hidden" name="op" value="upload">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
