<div class="form-wrapper">
	<form method="post" class="form profile-note-form">
		<div class="form-group">
			<label for="profile-note-title">Bezeichnung</label>
			<input id="profile-note-title" class="field" type="text" name="title" value="{{note/title}}" placeholder="Titel der Notiz" />
		</div>
		<div class="form-group">
			<label for="profile-note-body">Notiz</label>
			<textarea name="body" class="field" id="profile-note-body" data-module="editor/editor" data-editor="{{editor/name}}" data-editor-type="{{editor/type}}" data-mode="3">{{note/body_raw}}</textarea>
		</div>
		<input name="id" value="{{note/id}}" type="hidden" />
		<input name="notebook_id" value="{{note/notebook_id}}" type="hidden" />
		<input name="op" value="savenote" type="hidden" />
	</form>
</div>
