<li id="profile-note-{{note/id}}" class="profile-note notes-color-{{note/colorscheme}}">
    <div class="checkbox v4">
        <input id="note-{{note/id}}" value="{{note/id}}" name="note" type="checkbox" />
        <label data-role="note-title">{{#if note/title}}{{note/title}}{{else}}{{labels/new}}{{/if}}</label>
    </div>
    <div class="note-duedate">
        <i class="acms-icon acms-icon-calendar"></i>
        <span data-date="{{note/pdate-webdate}}" data-role="note-pdate">{{note/pdate-medium}}</span>
    </div>
    <div class="note-action note-edit{{#unless options/isOwner}} hidden invisible{{/unless}}" aria-label="{{labels/edit}}" data-role="note-edit" data-overlay="window">
        <i class="acms-icon acms-icon-pencil-alt"></i>
        <span class="src-only">{{labels/edit}}</span>
    </div>
    <div class="note-action note-delete{{#unless options/isOwner}} hidden invisible{{/unless}}" aria-label="{{labels/delete}}" data-role="note-delete">
        <i class="acms-icon acms-icon-times"></i>
        <span class="src-only">{{labels/delete}}</span>
    </div>
    <div class="note-colors{{#unless options/isOwner}} hidden invisible{{/unless}}" aria-label="{{labels/selectColor}}">
        {{#each colors as |config colorId|}}
            <span data-color="{{colorId}}" aria-label="{{config/name}}" class="notes-color notes-color-{{colorId}}{{#if config/active}} active{{/if}}"></span>
        {{/each}}
    </div>
</li>
