/**
 * Diese Datei ist Bestandteil von Amaryllis-Systems Software (http://www.amaryllis-systems.de)
 *
 * @author qm-b <qm-b@amaryllis-systems.de>
 * @copyright QM-B <qm-b@amaryllis-systems.de>
 * @copyright Amaryllis Systems GmbH http://www.amws.eu/
 */

@import "_settings.scss";

@include content-module-logo();

.dashboard .organigramm.v1 {
    min-height: 50vh;
    margin: 0 auto;
    @include flexbox;
    @include flexbox-column;
    align-items: center;
}
