/**
 * Diese Datei ist Bestandteil von Amaryllis-Systems Software (http://www.amaryllis-systems.de)
 *
 * @author qm-b <qm-b@amaryllis-systems.de>
 * @copyright QM-B <qm-b@amaryllis-systems.de>
 * @copyright Amaryllis Systems GmbH http://www.amws.eu/
 */

@import "_settings.scss";

@include content-module-logo();

.page-list {
    li {
        margin: 0;
        padding-left: 0;
        
        > .inner {
            @include flexbox;
            @include flexbox-row;
            @include flexbox-nowrap;
            
            & > :first-child {
                line-height: 1;
                margin-top: .825em;
            }
            
            > .page-button {
                margin-left: auto;
                flex-basis: 30%;
                @include flexbox-base(30%);
                
                > .field {
                    @include box-sizing('border-box');
                    box-sizing: border-box;
                }
            }
        }
        
    }
    
    ul, .page-sub-list {
        margin-left: 0;
        padding-left: 0;
        
        li {
            > div {
                > :first-child {
                    padding-left: 2em;
                }
            }
        }
    }
}        

#available-pages {
    
    li {
        list-style: none;
        margin: 1em 0;
    }
}
