<div id="{{id}}" class="large modal v1" role="dialog" aria-hidden="true" tabindex="-1" aria-labeledby="{{id}}-title">
    <div class="modal-dialog">
        <div class="content">
            <form method="POST" action="#">
                <div class="header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                        <span class="src-only">{{t "Schließen" "Core"}}</span>
                    </button>
                    <h4 class="title" id="{{id}}-title">{{t "Spam-Report" "Core"}}</h4>
                </div>
                <div class="main text-left">
                    <div class="form-group">
                        <div class="field static-field">
                            Melden Sie den Benutzer als Mißbrauch oder Spam. Bitte geben Sie in der Nachrich an, was Ihnen aufgefallen ist.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="radio v1">
                            <input id="reporttype-1" value="1" name="reporttype" type="radio" checked="checked" />
                            <label for="reporttype-1">{{t "Spam-Report" "Core"}}</label>
                        </div>
                        <div class="radio v1">
                            <input id="reporttype-2" value="2" name="reporttype" type="radio" />
                            <label for="reporttype-2">{{t "Profil-Mißbrauch" "Core"}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{t "Nachricht" "Core"}}</label>
                        <textarea name="message" id="spamreport_message" class="field" required="required"></textarea>
                    </div>
                    <input type="hidden" name="op" value="spamreport" />
                </div>
                <div class="footer">
                    <button type="button" class="small primary left labeled icon button" data-trigger="save">
                        <i aria-hidden="true" class="acms-icon acms-icon-paper-plane"></i>
                        <span class="content">{{t "Absenden" "Core"}}</span>
                    </button>
                    <button type="button" class="small default left labeled icon button" data-dismiss="modal">
                        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                        <span class="content">{{t "Schließen" "Core"}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
