@charset "UTF-8";
@import "../../../sass/assets/framework";
@import "../../../sass/assets/settings";
@import "assets/_settings.scss";
/*!
 * Diese Datei ist Bestandteil von Amaryllis-Systems Software (https://www.amaryllis-systems.de)
 *
 * @author qm-b <qm-b@amaryllis-websolutions.de>
 * @copyright 2011 - 2016 QM-B <qm-b@amaryllis-systems.de>
 * @copyright Amaryllis Systems http://www.amaryllis-systems.de/
 * 
 *
 * Copyright 2017 Amaryllis Systems GmbH <https://www.amaryllis-systems.de/>
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *    http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Framework-Version: #{$sass-framework-version}
 * Framework-Build: #{$sass-framework-build-version}
 * Contact Framework Version: #{$contact-sass-version}
 * Contact Framework Build: #{$contact-sass-build-version}
 */

.module-logo.contact {
    background-color: #4DB242;
}
.contact-fields {
    max-width: rem(500);
    
    > .field-list {
        display: block;
        width: 100%;

        > li {
            position: relative;
            display: block;
            width: 100%;
            padding: 1rem 2rem;

            &::before {
                margin-left: 1rem;
            }

            &:hover,
            &.hover::before {
                background-color: $grey-ultra-light;
            }

            > .handle {
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);

                &:hover {
                    cursor: $cursor-grab;
                }
            }
        }
    }
}
