<div class="success update-bar v1">
	<div class="split">
		<i aria-hidden="true" class="acms-icon acms-icon-check-circle"></i>
	</div>
	<div class="text">
		 {{t "Alle installierten Module sind aktuell!"}}
	</div>
</div>
