<div class="module-card v1 hoverable z-depth-1" 
		data-dirname="{{module/dirname}}" 
		data-name="{{module/name}}" 
		data-released="{{module/releaseDate}}" 
		data-build="{{module/build}}" 
		data-version="{{module/version}}">
	<div class="card-inner">
		<figure>
			<img src="{{module/image}}"
					title="{{module/name}}"
					alt="{{module/name}}"
					itemprop="image"
					class="activator module-logo full {{#toLowerCase}}{{module/dirname}}{{/toLowerCase}}"/>
			<figcaption>
				<h3 class="text-center">{{module/name}}</h3>
				<p class="text-center">Version <span data-role="version">{{module/version}}.{{module/build}}</span></p>
			</figcaption>
		</figure>
		<div class="card-content">
			<div class="card-title">
				<h3><span>{{module/name}}</span> <small>{{module/dirname}}</small></h3>
			</div>
			<p>
				<span class="tag v1 large">
					<span class="tag-image">
						<i class="acms-icon acms-icon-history"></i>
					</span>
					<span>
						{{module/version}}.{{module/build}}
					</span>
				</span>
				<span class="tag v1 large">
					<span class="tag-image">
						<i class="acms-icon acms-icon-calendar-alt regular"></i>
					</span>
					<span>
						{{module/released}}
					</span>
				</span>
			</p>
			<div class="card-action">
				<button type="button" class="primary icon button" data-role="update-module">
					<i aria-hidden="true" class="acms-icon acms-icon-sync-alt"></i>
					<span>aktualisieren</span>
				</button>
			</div>
		</div>
	</div>
</div>
