<div class="button-toolbar text-right" data-role="update-all-wrapper">
	<button type="button" class="primary icon button" data-role="update-all">
		<i aria-hidden="true" class="acms-icon acms-icon-sync-alt"></i>
		<span>Alle aktualisieren</span>
	</button>
	<div class="text-center text-muted">
		Durch aktualisieren eines oder aller Module stimmen Sie den Lizenz-Bedingungen des jeweilig zu aktualisierenden Moduls zu und akzeptieren diese.
	</div>
</div>
