<div id="{{id}}" class="large modal v1" role="dialog" aria-hidden="true" tabindex="-1" aria-labeledby="{{id}}-title">
    <div class="modal-dialog">
        <div class="content">
            <form method="POST" action="#">
                <div class="header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                        <span class="src-only">{{t "Schließen" "Core"}}</span>
                    </button>
                    <h4 class="title" id="{{id}}-title">{{t "Übersetzung"}}</h4>
                </div>
                <div class="main text-left">
                    <div class="form-group">
                        <label>{{t "Konstante" "Core"}}</label>
                        <input type="text" name="constant" class="field" placeholder="" value="{{translation/constant}}" />
                    </div>
                    <div class="form-group">
                        <label>{{t "Übersetzung" "Core"}}</label>
                        <textarea name="translation" class="field">{{translation/translation}}</textarea>
                    </div>
                    <div class="two fields">
                        <div class="form-group">
                            <label>{{t "Lokale" "Core"}}</label>
                            <select name="locale" class="field" value="{{translation/locale}}">
                                {{#each locales as |locale name|}}
                                    <option value="{{name}}" {{#xif name '==' ../translation/locale}}selected="selected"{{/xif}}>{{locale}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{t "Textdomain" "Core"}}</label>
                            <select name="textdomain" class="field" value="{{translation/textdomain}}">
                                {{#each textdomains as |textdomain name|}}
                                    <option value="{{name}}" {{#xif name '==' ../translation/textdomain}}selected="selected"{{/xif}}>{{textdomain}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group mkjs">
                        <label for="mkjs">Zu JavaScript Wörterbuch hinzufügen?</label>
                        <div class="switch v2 success compact toggle-variant">
                            <input type="hidden" value="0" name="mkjs">
                            <input id="mkjs" value="1" type="checkbox" name="mkjs" {{#xif translation/mkjs '==' 'true'}}checked="checked"{{/xif}} />
                            <label for="mkjs" data-on="Ja" data-off="Nein"></label>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{translation/id}}" />
                    <input type="hidden" name="token" value="{{token}}" />
                    <input type="hidden" name="op" value="save" />
                </div>
                <div class="footer">
                    <button type="button" class="small primary left labeled icon button" data-trigger="save">
                        <i aria-hidden="true" class="acms-icon acms-icon-save"></i>
                        <span class="content">{{t "Speichern" "Core"}}</span>
                    </button>
                    <button type="button" class="small default left labeled icon button" data-dismiss="modal">
                        <i aria-hidden="true" class="acms-icon acms-icon-times"></i>
                        <span class="content">{{t "Schließen" "Core"}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
