<tr data-constant="{{translation/constant}}" 
    data-id="{{translation/id}}" 
    data-translation="{{translation/translation}}"
    data-locale="{{translation/locale}}"
    data-textdomain="{{translation/textdomain}}"
    data-mkjs="{{translation/mkjs}}">

    <td data-th="Constant" data-col="constant">
        {{translation/constant}}
    </td>
    <td data-th="{{t 'Übersetzung' 'Core'}}" data-col="translation">
        {{translation/translation}}
    </td>
    <td class="size-200" data-th="Locale" data-col="locale">
        {{locale}}
    </td>
    <td class="size-200" data-th="Textdomain" data-col="textdomain">
        {{textdomain}}
    </td>
    <td class="middle center aligned text-xxlarge size-150" data-th="JavaScript" data-col="mkjs">
        {{#if translation/mkjs}}
            <span><i aria-hidden="true" class="acms-icon acms-icon-check-circle text-success"></i></span>
        {{else}}
            <span><i aria-hidden="true" class="acms-icon acms-icon-times-circle text-muted"></i></span>
        {{/if}}
    </td>
    <td class="center aligned size-150" data-th="Aktionen">
        <button type="button" data-trigger="edit" class="small primary icon button push-leftright-5" aria-label="Bearbeiten">
            <i aria-hidden="true" class="acms-icon acms-icon-pencil-alt"></i>
        </button>
        <button type="button" data-trigger="remove" class="small danger icon button push-leftright-5" aria-label="Entfernen">
            <i aria-hidden="true" class="acms-icon acms-icon-trash"></i>
        </button>
    </td>
</tr>
