{{#each allowedMimetypes as |mime ext|}}
    <li class="collection-item mimetype-item dual-list-item" role="listitem" 
        data-role="dual-list-item" 
        data-value="{{mime/extension}} {{mime/name}}" 
        data-extension="{{mime/extension}}"
        data-mime="{{mime/name}}"
        data-group="{{mime/group}}">

        <i aria-hidden="true" class="acms-icon acms-icon-square regular"></i>
        <span>
            <b>{{mime/extension}}</b> (<i>{{mime/name}}</i>)
        </span>
        <input type="checkbox" name="extension[]" id="mimetypes-extension-{{mime/extension}}" value="{{mime/extension}}" class="hidden invisible" checked="checked" />
    </li>
{{/each}}
