{{#each systemMimetypes as |mime ext|}}
    {{#hasOwnProp ../allowedMimetypes ext}}
    {{else}}
        <li class="collection-item mimetype-item dual-list-item" role="listitem" 
            data-role="dual-list-item" 
            data-value="{{mime/extension}} {{mime/name}}" 
            data-extension="{{mime/extension}}"
            data-mime="{{mime/name}}"
            data-group="{{mime/group}}">

            <i aria-hidden="true" class="acms-icon acms-icon-square regular"></i>
            <span>
                <b>{{mime/extension}}</b> (<i>{{mime/name}}</i>)
            </span>
            <input id="mimetypes-extension-{{mime/extension}}" type="checkbox" name="extension[]" value="{{mime/extension}}" class="hidden invisible" />
        </li>
    {{/hasOwnProp}}
{{/each}}
